<style>
    .not-bind{
        background: red;
        color:red;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"> 新老系统商品切换</h3>
    </div>
    <div class="panel-body">
        <div class="form-horizontal" id="search">
            <div class="form-group">
                <div class="col-sm-2">

                    <textarea rows="10" cols="120" name="search_label" placeholder="需要绑定的标签，逗号分隔"></textarea>
                    <input type="hidden" id="origin_url" value="/sys/label_goods_list_table">
                </div>
            </div>
        </div>

        <div class="table-toolbar">
            <div class="table-toolbar">
                <button type="button" class="btn btn-info btn-sm" id="check_bind">检测标签绑定情况</button>
            </div>
            <br/>
            <input type="text" id="curr_old_name" size="25" readonly="true" placeholder="标签" value=""/> -->绑定到商品ID -->
            <input type="text" value="" id="curr_new_id" size="20" placeholder="新商品ID" onblur="query_goods($(this).val())"/>
            <span id="curr_new_name"></span>
            <button type="button" class="btn btn-warning btn-sm" style="display: none" id="user_bind">确认修改</button>
            <p>
            <button type="button" class="btn btn-danger btn-sm" style="" id="remove_row">删除行</button>
            </p>
            <input type="hidden" id="curr_id" value="0">
        </div>
    </div>
    <div class="panel-body">
        <div id="config-body">
            <table id="config-table" data-unique-id="id" data-toggle="table" data-url="/sys/label_goods_list_table" data-click-to-select="true" data-select-item-name="radioName" data-pagination="true" data-side-pagination="server" data-page-size="500" data-page-list="[500,1000]" data-sortable="true" data-silent-sort="ture">
                <thead>
                <tr>
                    <th data-field="state" data-radio="true"></th>
                    <th data-field="id" data-align="center">序号</th>
                    <th data-field="label" data-align="center">标签</th>
                    <th data-field="old_product" data-align="center">老系统商品</th>
                    <th data-field="new_product" data-align="center">新系统商品</th>
                    <th data-field="new_product_id" data-align="center">新系统商品Id</th>
                    <th data-field="bind_status" data-align="center">绑定状态</th>
                </tr>
                </thead>
            </table>
        </div>
        <button type="button" class="btn btn-danger btn-sm" id="submit_bind">提交绑定</button>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('#begin_time').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1
        });
        $('#to_time').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1
        });

        $('#config-table').bootstrapTable({
        }).on('click-row.bs.table', function (e, row, $element) {
            console.log(e)
            console.log(row)
            $("#curr_id").val(row.id);
            $("#curr_old_name").val(row.label);
        });

        $("#check_bind").on('click', function(){
            var serverUrl = $('#origin_url').val();
            var filterData = "";
            $.each($("[name^='search_']"), function() {
                field = $(this).attr('name');
                data = $(this).val();
                if(data!=-1 && data!=""){
                    filterData += field+"="+data+"&";
                }
            });
            if(filterData==""){
                var url = serverUrl;
            }else{
                var url = serverUrl +'?'+filterData;
            }
            $('#config-table').bootstrapTable('refresh', {url: url});
        });

        $("#check_bind,#remove_row").on('mousemove', function() {
            var allTableData = $('#config-table').bootstrapTable('getData');//获取表格的所有内容行
            for (i = 0; i < allTableData.length; i++) {
                if (allTableData[i]['new_product_id'] == "" || allTableData[i]['new_product_id'] == "0" ) {
                    $('#config-table').find("tr[data-index='" + i + "']").css('text-decoration', 'line-through');
                    $('#config-table').find("tr[data-index='" + i + "']").css('font-weight', '100');
                    $('#config-table').find("tr[data-index='" + i + "']").css('font-size', '20px');
                }
            }
        });

        $("#remove_row").click(function(){
            {
                var cur_id = $("#curr_id").val();
                if (cur_id == 0) {
                    MessageBox.error('请选择查看项');
                    return;
                }
                $('#config-table').bootstrapTable('updateRow', {
                    index: cur_id - 1,
                    row: {
                        new_product_id: 0,
                        bind_status: '已删除'
                    }
                });
            }
        });

        $("#user_bind").click(function(){
             {
                var cur_id = $("#curr_id").val();
                var curr_new_id = $("#curr_new_id").val();
                if (cur_id == 0) {
                    MessageBox.error('请选择查看项');
                    return;
                }

                if (curr_new_id == "") {
                    MessageBox.error('请填写绑定的新商品ID');
                    return;
                }

                $('#config-table').bootstrapTable('updateRow', {
                    index: cur_id - 1,
                    row: {
                        new_product_id: curr_new_id,
                        new_product: $("#curr_new_name").text()
                    }
                });
            }
        });

        $("#submit_bind").click(function(){
            var r=confirm("确认提交商品绑定标签？")
            if (r==true) {
                var allTableData = $('#config-table').bootstrapTable('getData');//获取表格的所有内容行
                console.log(allTableData);
                var arr = new Array();
                for (i = 0; i < allTableData.length; i++) {
                    if(allTableData[i]['bind_status'] != '已删除'){
                        arr.push(allTableData[i]);
                    }
                }
                console.log(arr);
                $.ajax({
                    type: "post",
                    url: "/sys/bind_lable_product",
                    data: { label_product: JSON.stringify(arr) },
                    success: function (data, status) {
                        data = JSON.parse(data);
                        if(data.status == "fail"){
                            alert(data.msg);
                        }else if(data.status == 'succ'){
                            result = data.result;
                            console.log(data);
                            for( i=0;i<allTableData.length;i++){
                                if(result[allTableData[i]['label']]){
                                    $('#config-table').bootstrapTable('updateRow', {
                                        index: i,
                                        row: {
                                            bind_status: result[allTableData[i]['label']]
                                        }
                                    });
                                }
                            }
                        }else{
                            alert("绑定失败"+data);
                        }
                    },
                    error: function () {
                        alert("绑定失败");
                    },
                    complete: function () {
                    }
                });
            }

        });
    });

    function query_goods(a) {
        if(!a){
            return;
        }
        $.ajax({
            type: "post",
            url: "/products/ajax_search_proudct_by_id",
            data: {
                id:a
            },
            success: function (data, status) {
                if(data != ""){
                    $("#curr_new_name").text(data);
                    $("#user_bind").show();
                }else{
                    alert("没有找到ID为"+a+"的商品");
                }
            },
            error: function () {
                alert("没有找到ID为"+a+"的商品");
            },
            complete: function () {

            }

        });
    }
</script>