<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"> 新旧系统商品绑定</h3>
    </div>
    <div class="panel-body">
        <div class="form-horizontal" id="search">
            <div class="form-group">
                <div class="col-sm-2">
                    <input type="text" class="form-control" size='100' name="search_mobile" placeholder="旧商品名称">
                </div>
                <button type="button" class="btn btn-default" id="search-btn">搜索</button>
                <button type="button" class="btn btn-default" id="search-notbind-btn">搜索全部未绑定的商品</button>
                <input type="hidden" id="origin_url" value="/sys/goods_list_table">
            </div>
        </div>

        <div class="table-toolbar">
            <input type="text" id="curr_old_name" size="50" readonly="true" placeholder="旧商品" value=""/>绑定到商品
            <input type="text" value="" id="curr_new_id" size="20" placeholder="新商品ID" onblur="query_goods($(this).val())"/>
            <span id="curr_new_name"></span>
            <button type="button" class="btn btn-warning btn-sm" id="user_bind">绑定新商品</button>
            <input type="hidden" id="curr_id" value="0">
        </div>
    </div>
    <div class="panel-body">
        <div id="config-body">
            <table id="config-table" data-toggle="table" data-url="/sys/goods_list_table" data-click-to-select="true" data-select-item-name="radioName" data-pagination="true" data-side-pagination="server" data-page-size="50" data-page-list="[50,250,1000]" data-sortable="true" data-silent-sort="ture">
                <thead>
                <tr>
                    <th data-field="state" data-radio="true"></th>
                    <th data-field="id" data-align="center">ID</th>
                    <th data-field="old_product" data-align="center">旧商品ID</th>
                    <th data-field="old_product_name" data-align="center">旧商品</th>
                    <th data-field="new_product" data-align="center">新系统商品ID</th>
                    <th data-field="product_name" data-align="center">新系统商品</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('#begin_time').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1
        });
        $('#to_time').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1
        });

        $('#config-table').bootstrapTable({
        }).on('click-row.bs.table', function (e, row, $element) {
            $("#curr_id").val(row.old_product);
            $("#curr_old_name").val(row.old_product_name);
        });



        $("#search-btn").on('click', function(){
            var serverUrl = $('#origin_url').val();
            var filterData = "";
            $.each($("[name^='search_']"), function() {
                field = $(this).attr('name');
                data = $(this).val();
                if(data!=-1 && data!=""){
                    filterData += field+"="+data+"&";
                }
            });
            if(filterData==""){
                var url = serverUrl;
            }else{
                var url = serverUrl +'?'+filterData;
            }
            $('#config-table').bootstrapTable('refresh', {url: url});
        });
        $("#search-notbind-btn").on('click', function(){
            var serverUrl = $('#origin_url').val();
            var filterData = "";
            $.each($("[name^='search_']"), function() {
                field = $(this).attr('name');
                data = $(this).val();
                if(data!=-1 && data!=""){
                    filterData += field+"="+data+"&";
                }
                filterData += "notbind=1";
            });
            if(filterData==""){
                var url = serverUrl;
            }else{
                var url = serverUrl +'?'+filterData;
            }
            $('#config-table').bootstrapTable('refresh', {url: url});
        });

        $("#user_bind").click(function(){
            var cur_id = $("#curr_id").val();
            var curr_new_id = $("#curr_new_id").val();
            if (cur_id == 0) {
                MessageBox.error('请点击需要绑定的行');
                return;
            }
            if ( curr_new_id== "") {
                MessageBox.error('请填写绑定的新商品ID');
                return;
            }
            $.ajax({
                type: "post",
                url: "/sys/ajax_bind_product",
                data: {
                    old_id:cur_id,
                    new_id:curr_new_id
                },
                success: function (data, status) {
                    if(data == 1){
                        alert("绑定成功");
                        window.location.href = "/sys/change_bind/";
                    }else{
                        alert("绑定失败");
                    }
                },
                error: function () {
                    alert("绑定失败");
                },
                complete: function () {

                }

            });
        });

        $("#export").click(function(){
            window.open('/user/user_export');
        });
    });
    function query_goods(a) {
        if(!a){
            return;
        }
        $.ajax({
            type: "post",
            url: "/products/ajax_search_proudct_by_id",
            data: {
                id:a
            },
            success: function (data, status) {
                if(data != ""){
                    $("#curr_new_name").text(data);
                }else{
                    alert("没有找到ID为"+a+"的商品");
                }
            },
            error: function () {
                alert("没有找到ID为"+a+"的商品");
            },
            complete: function () {

            }

        });
    }
</script>