<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel"><{$box_no}>在<{$sale_date}>的销售明细</h4>
</div>
<div class="modal-body">
    <table class="table">
        <thead>
        <tr>
            <th data-align="center">订单编号</th>
            <th data-align="center">支付流水</th>
            <th data-align="center">商品数量</th>
            <th data-align="center">支付金额</th>
        </tr>
        <{foreach key=key item=item from=$list}>
        <tr>
            <td data-align="center"><{$item['order_name']}></td>
            <td data-align="center"><{$item['pay_no']}></td>
            <td data-align="center"><{$item['qty']}></td>
            <td data-align="center"><{$item['money']}></td>
        </tr>
        <{/foreach}>
        </thead>
    </table>
</div>