
<style type="text/css">
    .ui-autocomplete{
        border: 1px solid #aaa;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #FFFFFF;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">箱子入库</div>

    <div class="panel-body">
        <div class="form-horizontal" id="search">
            <div class="form-group">
                <label  class="col-sm-2 control-label">仓库：</label>
                <div class="col-sm-2">
                    <select class="form-control" name="warehouse_id" id="warehouse_id">
                        <option value="">请选择</option>
                        <{foreach from=$warehouses key=key item=val }>
                        <option value="<{$val['id']}>"><{$val['name']}></option>
                        <{/foreach}>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label">类别：</label>
                <div class="col-sm-4">
                    <{foreach from=$type key=key item=val}>
                    <input type="radio" name="type"  value="<{$key}>"><{$val}>
                    <{/foreach}>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">入库明细</label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <input type="text" class="form-control" autocomplete="off" id="case_id" placeholder="箱号">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm btn-clear" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                            <button class="btn btn-success btn-sm btn-pro-code" type="button"><i class="glyphicon glyphicon-plus"></i></button>
                        </span>
                    </div>
                    <ul class="list-group" id="pro_code_suggest"></ul>
                </div>
                <div class="col-sm-5 control-label">
                    <div class="itemTotal"></div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label text-right"></label>
                <div class="col-sm-10">
                    <table id="tableData" class="table table-striped"></table>
                </div>
            </div>
        </div>
    </div>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="form-inline">
        <div class="col-md-12 form-control-static tool-bottom text-center">
            <button type="submit" class="btn btn-info" id="explore-btn">确认添加</button>
        </div>
    </div>
</nav>
<script type="text/javascript">
    (function () {
        var table = $('#tableData');
        var columns = [
            {field: 'id', title: '箱号ID'},
          //  {field: 'case_number', title: '箱号'},
            {field: 'case_type', title: '箱子类型'}
        ];
        columns.push({
                field: 'operation', title: '操作', align: 'center',
                formatter: function (value, row, index) {
                    return ['<a data-pid="' + row.id + '" class="btn btn-xs btn-danger btn-del">删除</a>'].join('');
                }
            });
        table.bootstrapTable({
            columns: columns,
            uniqueId : 'case_id',
        });

        $(".btn-pro-code").on('click', function () {
            var case_id = $('#case_id').val().trim();
            if(case_id == ""){
                MessageBox.error('箱号不能为空');
                return;
            }
            var  warehouse_id = $("#warehouse_id").val();
            if(warehouse_id == ""){
                MessageBox.error('请选择仓库');
                return;
            }
            $.ajax({
                url: '/cases/get_case_number' ,
                type: "POST",
                data: {case_id:case_id,warehouse_id:warehouse_id},
                dataType: 'json',
                success: function (resp) {
                    if(resp == ""){
                        MessageBox.error('没有此箱号');
                        return;
                    }
                    if(resp.falg == false){
                        MessageBox.error('此商户下没有此箱号');
                        return;
                    }
                    if(resp.warehouse_id != warehouse_id){
                        MessageBox.error('此仓库下没有此箱号');
                        return;
                    }
                    var falg = true;
                    var data = tableData();
                    $.each(data,function(k,v){
                        if(v.id == resp.id){
                            MessageBox.error('此箱号已在列表中');
                            falg = false;
                        }
                    })
                    if(falg == false){
                        return;
                    }
                    table.bootstrapTable('append',resp);
                    $('#case_number').val("")
                }
            });
        })

        table.on('click', '.btn-del', function () {
            table.bootstrapTable('remove', {
                field: 'id',
                values: [String($(this).data('pid'))]
            });

        });
        function tableData() {
            return table.bootstrapTable('getData');
        }
        $("#explore-btn").on("click",function(){
            var  warehouse_id = $("#warehouse_id").val();
            var  type = $("input[name=type]:checked").val();

            var  serverUrl = "/cases/add_submit";
            if(warehouse_id == ""){
                MessageBox.error('请选择仓库');
                return;
            }

            if(type == undefined){
                MessageBox.error('请选择类别');
                return;
            }

            var data = JSON.stringify(tableData());


            $.ajax({
                type: 'POST',
                url: serverUrl,
                dataType: 'json',
                data: {data:data,type:type,warehouse_id:warehouse_id},
                success: function (resp) {
                   if(resp == true){
                       alert('添加成功');
                       window.location = "/cases/cases_list";
                   }else{
                       MessageBox.error('添加成败');
                   }

                }
            });



        })
    })()



</script>