<style>
    .pagination-detail { padding-left: 10px }

    .pagination { padding-right: 10px }
    .editable-input input{width: 100% !important;}
    table {
        font-size: 12px;
        vertical-align: middle;
    }
    .list-group{ margin-bottom: 0}
    #pro_code_suggest { font-size: 12px }
    #pro_code_suggest .badge{ background-color: #f0ad4e; }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">箱子出入log</h3>
    </div>
    <div class="panel-body">
        <div class="form-horizontal" id="search">

            <div id="shipping-list-body">
                <table id="config-table" data-toggle="table" data-url="/cases/case_log_table?case_id=<{$case_id}>" data-click-to-select="true" data-select-item-name="radioName" data-pagination="true" data-page-size="50" data-side-pagination="server" data-page-list="[50,100,500]">
                    <thead>
                    <tr>
                        <!--<th data-field="state" data-checkbox="true"></th>-->
                        <th data-field="id" data-align="center">ID</th>
                        <th data-field="case_id" data-align="center">箱号</th>
                        <th data-field="start_status" data-align="center">状态</th>
                        <th data-field="type" data-align="center">入库类型</th>
                        <th data-field="shelves_status" data-align="center">上/下架</th>
                        <th data-field="shipping_no" data-align="center">单号</th>
                        <th data-field="admin_id" data-align="center">操作人</th>
                        <th data-field="create_date" data-align="center">添加时间</th>

                    </tr>
                    </thead>
                </table>
            </div>
        </div>





    </div>

    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
    <link href="/assets/bootstrap/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="/assets/bootstrap/js/bootstrap-editable.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap-table-editable.js" type='text/javascript'></script>

