<!--<style>-->
    <!--.pagination-detail { padding-left: 10px }-->

    <!--.pagination { padding-right: 10px }-->
    <!--.editable-input input{width: 100% !important;}-->
    <!--table {-->
        <!--font-size: 12px;-->
        <!--vertical-align: middle;-->
    <!--}-->
    <!--.list-group{ margin-bottom: 0}-->
    <!-- #pro_code_suggest { font-size: 12px } -->
    <!-- #pro_code_suggest .badge{ background-color: #f0ad4e; } -->
<!--</style>-->
<div class="panel panel-default">
    <div class="panel-heading">
        <label class="control-label">箱子管理</label>
        <div class="form-inline" id="search">
            <!--<div class="form-group">-->
                <div class="form-group form-group-sm">
                    <input class="form-control" type="text" id="" name="search_case_id" style="width:120px;" placeholder="箱号">
                </div>
                <div class="form-group form-group-sm">
                <select class="form-control" name="search_warehouse_id" id="search_warehouse_id" style="width:120px;">
                    <option value="">选择仓库</option>
                    <{foreach $warehouses as $val}>
                    <option value="<{$val['id']}>"><{$val['name']}></option>
                    <{/foreach}>
                </select>
                </div>
                <div class="form-group form-group-sm">

                    <select class="form-control" name="search_shelves_status" id="search_shelves_status" style="width:120px;">
                        <option value="">上/下架</option>
                        <{foreach $shelves_status as $k=>$val}>
                        <option value="<{$k}>"><{$val}></option>
                        <{/foreach}>
                    </select>
                </div>

                <div class="form-group form-group-sm">

                    <select class="form-control" name="search_start_status" id="search_start_status" style="width:120px;">
                        <option value="">选择状态</option>
                        <{foreach $start_status as $k=>$val}>
                        <option value="<{$k}>"><{$val}></option>
                        <{/foreach}>
                    </select>
                </div>
                <div class="form-group form-group-sm">

                    <select class="form-control" name="search_case_type" id="search_case_type" style="width:120px;">
                        <option value="">选择类型</option>
                        <{foreach $type as $k=>$val}>
                        <option value="<{$k}>"><{$val}></option>
                        <{/foreach}>
                    </select>
                </div>
                <!--<div class="col-sm-1">-->
                    <!--<input type="text" class="form-control" id="send_date" name="search_generate_date_start" placeholder="生成日期开始">-->
                <!--</div>-->
                <!--<div class="col-sm-1">-->
                    <!--<input type="text" class="form-control" id="send_date2" name="search_generate_date_end" placeholder="生成日期结束">-->
                <!--</div>-->

                <!--<div class="col-sm-1">-->
                    <!--<input type="text" class="form-control" id="send_date3" name="search_start_date_start" placeholder="启用日期开始">-->
                <!--</div>-->
                <!--<div class="col-sm-1">-->
                    <!--<input type="text" class="form-control" id="send_date4" name="search_start_date_end" placeholder="启用日期结束">-->
                <!--</div>-->
                <div class="form-group form-group-sm">
                    <button type="button" class="btn  btn-info" id="search-btn">查找</button>
                    <input type="hidden" id="origin_url" value="/cases/cases_table">
                </div>
            <!--</div>-->
            <!--<div class="form-group">-->
                <div class="form-group form-group-sm">
                    <button type="button" class="btn btn-success btn-sm" id="generate_cases">箱号生成</button>
                </div>
                <div class="form-group form-group-sm">
                    <button type="button" class="btn btn-success btn-sm" id="add_cases">添加箱号</button>
                </div>
                <!--<div class="col-sm-1">-->
                    <!--<button type="button" class="btn btn-success btn-sm" id="cases_shelves_log">箱子上/下架log</button>-->
                <!--</div>-->
               <div class="form-group form-group-sm">
                    <button type="button" class="btn btn-success btn-sm" id="cases_excel">导出</button>
                </div>
            <!--</div>-->
        </div>
    </div>
        <div class="panel-body">
            <div id="shipping-list-body">
                <table id="config-table" data-toggle="table" data-url="/cases/cases_table" data-click-to-select="true" data-select-item-name="radioName" data-pagination="true" data-page-size="50" data-side-pagination="server" data-page-list="[50,100,500]">
                    <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="id" data-align="center">箱号ID</th>
                        <th data-field="shelves_status" data-align="center">上/下架</th>
                        <th data-field="start_status" data-align="center">状态</th>
                        <th data-field="case_type" data-align="center">箱子类型</th>
                        <th data-field="warehouse_id" data-align="center">仓库</th>
                        <th data-field="case_log" data-align="center" >查看log</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>





</div>

<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>
<link href="/assets/bootstrap/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="/assets/bootstrap/js/bootstrap-editable.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap-table-editable.js" type='text/javascript'></script>
<script type="text/javascript">
    $(function () {
        function search(serverUrl) {
            var filterData = "";
            $.each($("[name^='search_']"), function() {
                field = $(this).attr('name');
                data  = $(this).val();
                if(data!=-1 && data!=""){
                    filterData += "&"+field+"="+data;
                }
            });
            filterData  = filterData.substr(1);
            if(filterData==""){
                var url = serverUrl;
            }else{
                var url = serverUrl +'?'+filterData;
            }
            return url;
        }

//搜索
        $("#search-btn").on('click', function(){
            var serverUrl  = $('#origin_url').val();
            var url = search(serverUrl);
console.log(url)
            $('#config-table').bootstrapTable('refresh', {url: url});
        });
        //箱号生成时间前
        $('#send_date').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            minView: "month",
            format:'yyyy-mm-dd',      //格式化日期
            timepicker:false    //关闭时间选项
        });

        $('#send_date2').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            minView: "month",
            format:'yyyy-mm-dd',      //格式化日期
            timepicker:false    //关闭时间选项
        });
        $('#send_date3').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            minView: "month",
            format:'yyyy-mm-dd',      //格式化日期
            timepicker:false    //关闭时间选项
        });
        $('#send_date4').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            minView: "month",
            format:'yyyy-mm-dd',      //格式化日期
            timepicker:false    //关闭时间选项
        });

        //箱号生成
        $("#generate_cases").on('click', function () {
            window.open("/cases/generate_cases");
        });



        //添加箱号
        $("#add_cases").on('click', function () {
            window.open("/cases/add_cases");
        });

//        //箱子上下架log
//        $("#cases_shelves_log").on('click', function () {
//            window.open("/cases/cases_shelves_log");
//        });

        //导出
        $("#cases_excel").on('click', function () {
            var ids ="";
            $("input[name='radioName']:checked").each(function(){
                var thisId = $(this).parent().next().html();
                ids += ','+thisId ;

            })
            ids =ids.substr(1);
            if(ids == ""){
                MessageBox.error('请勾选需要导出的箱号');
                return;
            }
            window.location = "/cases/cases_excel?id="+ids;
        });

    });
</script>