
<style type="text/css">
    .ui-autocomplete{
        border: 1px solid #aaa;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #FFFFFF;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">箱号生成</div>

        <div class="panel-body">
            <div class="form-horizontal" id="search">
                <div class="form-group">
                    <label  class="col-sm-2 control-label">生成数量：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="number"  id="number"  placeholder="请输入生成数量">
                    </div>
                    <div class="Validform_checktip"></div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label">箱子类型：</label>
                    <div class="col-sm-2">
                        <select class="form-control" name="case_type" id="case_type">
                            <option value="">请选择</option>
                            <{foreach from=$type key=key item=val }>
                            <option value="<{$key}>"><{$val}></option>
                            <{/foreach}>
                        </select>
                    </div>
                    <div class="Validform_checktip"></div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label">仓库：</label>
                    <div class="col-sm-2">
                        <select class="form-control" name="warehouse_id" id="warehouse_id">
                            <option value="">请选择</option>
                            <{foreach from=$warehouses key=key item=val }>
                            <option value="<{$val['warehouse_id']}>"><{$val['warehouse_name']}></option>
                            <{/foreach}>
                        </select>
                    </div>
                    <div class="Validform_checktip"></div>
                </div>

                <div class="form-group">
                    <label  class="col-sm-2 control-label"></label>
                    <div class="col-sm-2">
                        <input type="hidden" name="submit" value="1">
                        <button type="submit" class="btn btn-info" id="explore-btn">确认添加</button>
                    </div>
                </div>
            </div>
        </div>

</div>
<script type="text/javascript">
   $("#explore-btn").on("click",function(){
          var  number = $("#number").val();
          var  warehouse_id = $("#warehouse_id").val();
          var  case_type = $("#case_type").val();
          var  serverUrl = "/cases/generate_submit";
          if(isNaN(number)){
              MessageBox.error('请输入数字');
              return;
          }else{
              if(number > 100){
                  MessageBox.error('输入数字不可大于100');
                  return;
              }
          }
          if(warehouse_id == ""){
              MessageBox.error('请选择仓库');
              return;
          }
          if(case_type == ""){
             MessageBox.error('请选择箱子类型');
             return;
         }
       if (confirm("确认要生成吗？")) {
           $.ajax({
               type: 'post',
               url: serverUrl,
               dataType: 'json',
               data: {number: number, case_type: case_type, warehouse_id:warehouse_id},
               success: function (resp) {
                    console.log(resp)
                    if(resp.status == true){

                        MessageBox.success('成功'+resp.succ+'失败'+resp.err);
                    }else{
                        MessageBox.error('生成失败');
                    }
               }
           });
       }


   })

</script>