<style type="text/css">
    td.name {
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    table{
        font-size: 13px;
    }
    td.code{
        /*max-width: 200px;*/
        /*line-height: 15px;*/
        /*height: 60px;*/
        /*overflow: hidden;*/
        /*text-overflow: ellipsis;*/
        /*white-space: nowrap;*/

        line-height: 20px;
        height:64px;
        overflow: hidden;
        text-overflow:ellipsis;
        display: -webkit-box;
        -webkit-line-clamp:3;
        -webkit-box-orient: vertical;
    }
    td.code_w{
        max-width: 300px;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">活动管理</h3>
    </div>
    <div class="panel-body">
        <div class="form-horizontal" id="search">
            <!--<{include 'order/search_box.html'}>-->
            <div class="form-group">
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="search_name" placeholder="设备名称">
                </div>
                <div class="col-sm-2">
                    <select class="form-control" name="search_refer">
                        <option value="-1">用户来源</option>
                        <option value="all">所有来源</option>
                        <option value="alipay">支付宝</option>
                        <option value="wechat">微信</option>
                        <option value="fruitday">天天果园</option>
                        <option value="gat">关爱通</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" name="search_active_people">
                        <option value="-1">目标用户</option>
                        <option value="0">全体用户</option>
                        <option value="1">仅新用户</option>
                        <option value="2">白名单用户</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" name="search_active_type">
                        <option value="-1">活动类型</option>
                        <option value="0">满额减</option>
                        <option value="1">随机减</option>
                        <option value="3">分时折扣</option>
                        <option value="4">搭配购</option>

                    </select>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="search_remarks" placeholder="主标题">
                </div>
                <div class="col-sm-2">
                    <select class="form-control shift-info">
                        <{foreach key=key item=item from=$admin_info}>
                        <option value="<{$key}>"><{$item}></option>
                        <{/foreach}>
                    </select>
                    <input type="hidden" name="search_admin_name" value="" />
                </div>
                <input type="hidden" id="origin_url" value="/active/discount_table">
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <div class="input-group date  col-md-12" data-link-field="dtp_input1" id="time" >
                        <input class="form-control" type="text" name="search_start_time" value="" placeholder="开始时间"  readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-group date  col-md-12" data-link-field="dtp_input2" id="time2" >
                        <input class="form-control" type="text" name="search_end_time" value="" placeholder="截止时间"  readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" name="search_active_time">
                        <option value="-1">活动状态</option>
                        <option value="1">未开始</option>
                        <option value="2">时间内</option>
                        <option value="3">已结束</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" name="search_active_status">
                        <option value="-1">是否启用</option>
                        <option value="1">已启用</option>
                        <option value="2">已暂停</option>
                    </select>
                </div>
                <button type="button" class="btn btn-default" id="search-btn">查找</button>

            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-toolbar">
            <button type="button" class="btn btn-info btn-sm" onclick="location.href='/active/discount_add'">新增</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="hidden" id="curr_id" value="0">
            <button type="button" class="btn btn-info btn-sm" id="active-edit">编辑</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-success btn-sm" onclick="set_status(1, '启用')">启用</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-warning btn-sm" onclick="set_status(2, '暂停')">暂停</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger  btn-sm" onclick="set_status(0, '删除')">删除</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <button type="button" class="btn btn-default  glyphicon glyphicon-eye-open pull-right" id="show_btn"></button>&nbsp;&nbsp;&nbsp;&nbsp;<!-- glyphicon-eye-close-->

        </div>
        <div id="config-body">
            <table id="config-table" data-toggle="table" data-sort-order="desc" data-url="/active/discount_table" data-pagination="true" data-side-pagination="server" data-page-list="[5,10,15,20]">
                <thead>
                <tr>
                    <th data-field="state" data-radio="true"></th>
                    <th data-field="id" data-align="center" data-sortable="true" >ID</th>
                    <th data-field="weight" data-align="center" data-sortable="true" >排序</th>
                    <th data-field="code" data-align="center" data-class="code code_w">设备名称</th>
                    <th data-field="active_type" data-align="center">活动类型</th>
                    <th data-field="remarks" data-align="center" data-class="name">主标题</th>
                    <th data-field="refer" data-align="center">用户来源</th>
                    <th data-field="active_people" data-align="center">目标用户</th>
                    <th data-field="min_money" data-align="center">最低金额</th>
                    <th data-field="start_time" data-align="center">开始时间</th>
                    <th data-field="end_time" data-align="center">截止时间</th>
                    <th data-field="active_time" data-align="center">活动状态</th>
                    <th data-field="active_status" data-align="center">是否启用</th>
                    <th data-field="admin_name" data-align="center">编辑人</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px">
        <div class="modal-content">

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<script type="text/javascript">
    function change_discount(id, obj){
        var discount = $(obj).val();
        $.post("/active/first_ajax_save",{id:id,discount:discount},function(data){
            if(data.status=='success'){
                alert('成功');
            }else{
                alert(data.msg);
                return false;
            }
        }, 'json');
    }

    function delete_discount(id, obj){
        $.post("/active/first_ajax_delete",{id:id},function(data){
            if(data.status=='success'){
                alert('成功');
                $(obj).parent().parent().remove();
            }else{
                alert(data.msg);
                return false;
            }
        }, 'json');
    }

    $(function(){
        $('.shift-info').editableSelect({
            effects: 'slide',
            onSelect: function (element) {
                $(this).next('input').val(element.attr('value'));
            }
        }).prop('placeholder','输入编辑人');
        $('.shift-info').change(function(){
            if($(this).val()==''){
                $(this).next('input').val(0);
            }
        });

        $('#config-table').bootstrapTable({
        }).on('click-row.bs.table', function (e, row, $element) {
            $("#curr_id").val(row.id);
        }).on('dbl-click-row.bs.table', function (e, row, $element) {
            $element.find('td').eq(3).toggleClass('code');
        });


        $("#config-body").delegate(".show_img","click",function(){
            MessageBox.alert($(this).attr('data-content'));
        });
        $('#time').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            format: 'yyyy-mm-dd hh:00:00',
            minView: 'day'
        });
        $('#time2').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            format: 'yyyy-mm-dd hh:00:00',
            minView: 'day'
        });
        $("#search-btn").on('click', function(){
            var serverUrl = $('#origin_url').val();
            var filterData = "";
            $.each($("[name^='search_']"), function() {
                field = $(this).attr('name');
                data = $(this).val();
                if(data!=-1 && data!=""){
                    filterData += field+"="+data+"&";
                }
            });
            if(filterData==""){
                var url = serverUrl;
            }else{
                var url = serverUrl +'?'+filterData;
            }
            $('#config-table').bootstrapTable('refresh', {url: url});
        });

        $('#search_product_name').autocomplete({
            source:function(query,process){
                var matchCount = this.options.items;//返回结果集最大数量
                $.get("/order/get_product",{"matchInfo":query['term'],"matchCount":matchCount},function(respData){
                    respData = $.parseJSON(respData);//解析返回的数据

                    return process(respData);
                });
            }
        });

        //编辑
        $("#active-edit").on('click', function () {
            ckRadio();
            var curr_id = $("#curr_id").val();
            if (curr_id == 0) {
                MessageBox.error('请选择编辑项');
                return;
            }
            window.location.href = "/active/discount_edit/" + curr_id;
        });

        $('#show_btn').click(function(){
            $('td.code_w').toggleClass('code');
            $(this).toggleClass('glyphicon-eye-open');
            $(this).toggleClass('glyphicon-eye-close');
        });


    });

    function ckRadio() {
        var curr_id = $("input[type=radio]:checked").parent().next().text();
        if (typeof (curr_id) == "undefined") {
            $("#curr_id").val(0);
        } else {
            $("#curr_id").val(curr_id);
        }
    }

    function set_status(val, text){
        ckRadio();
        var id = $("#curr_id").val();
        if (id == 0) {
            MessageBox.error('请选择编辑项');
            return;
        }
        var flag = true;
        if(val==1){
            $.ajax({
                url: '/active/get_active',
                data: {id:id},
                type: 'POST',
                dataType: 'json',
                async: false,
                success: function (data) {
                    if(data.status=='success'){
                        if(confirm(data.msg)){
                            flag=true;
                        }else{
                            flag=false;
                        }
                    }
                }
            });
        }

        if(flag===false){
            return false;
        }
        $.post("/active/set_status",{id:id,val:val},function(data){
            if(data.status=='success'){
                alert(text + data.msg);
                window.location.reload()
            }else{
                alert(data.msg);
            }
        },'json');
    }
</script>