.DS_Store
tmp/*
tmp/
dump.rdb
application/.DS_Store
application/templates_c/*
application/logs/*
.idea/
public/sess_save_path/*
application/config/env_config.php
log/*
dist/*
node_modules/*
gulpfile.js
package.json
uploads/*
application/controllers/api/Test.php
application/controllers/api/LocalTest.php
application/config/open.php
.htaccess