<div class="panel panel-default" id="card-div">
    <div class="panel-heading">
        <h3 class="panel-title pull-left" >退货管理</h3>&nbsp;&nbsp;
    </div>
    <div class="panel-body">
        <form  onsubmit="return checkForm()"  id="add-active-form" class="form-horizontal" enctype="multipart/form-data" role="form" method="post" action="/active/b2cTuan/save">
            <div class="form-group ">
                <div class="col-sm-12">
                    <table class="table table-striped table-bordered ruleTable ">
                        <tr>
                            <td>
                                <label class="control-label pull-left">退款流水：&nbsp;&nbsp;&nbsp; </label>
                                <div class="col-sm-9">
                                    <input type="text" readonly="readonly" name="trade_no" value="<{$trade_no}>" class="form-control">
                                </div>
                            </td>
                            <td>
                                <label class="control-label pull-left">订单号：&nbsp;&nbsp;&nbsp; </label>
                                <div class="col-sm-9">
                                    <input class="form-control" readonly="readonly" type="text" name="order_name" value="<{$order_name}>" onclick="show_model('<{$order_name}>')" >
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label pull-left">售货机编号：</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly="readonly" name="box_no" class="form-control" value="<{$box_no}>">
                                </div>
                            </td>
                            <td>
                                <label class="control-label pull-left">创建时间： </label>
                                <div class="col-sm-9">
                                    <input class="form-control" readonly="readonly" type="text" name="create_time" value="<{$create_time}>" >
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label pull-left">用户手机号：</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly="readonly" name="mobile" class="form-control" value="<{$mobile}>">
                                </div>
                            </td>
                            <td>
                                <label class="control-label pull-left">退款状态： </label>
                                <div class="col-sm-9">
                                    <input class="form-control" readonly="readonly" type="text" name="refund_status" value="<{$status[$refund_status]}>" >
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label pull-left">申请退款金额：</label>
                                <div class="col-sm-9">
                                    <input class="form-control" readonly="readonly" type="text" name="refund_money" value="<{$refund_money}>">
                                </div>
                            </td>
                            <td>
                                <label class="control-label pull-left">申请原因： </label>
                                <div class="col-sm-9">
                                    <input type="text" readonly="readonly" name="reason" class="form-control" value="<{$reason_title[$reason]}>">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label pull-left">原因详情： &nbsp;&nbsp;</label>
                                <div class="col-sm-9">
                                    <input class="form-control" readonly="readonly" type="text" name="reason_detail" value="<{$reason_detail}>">
                                </div>
                            </td>
                            <td>
                                <{if $admin_name}>
                                <label class="control-label pull-left">处理人：&nbsp;&nbsp;&nbsp;</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" readonly="readonly" name="admin_name" placeholder="团购商品ID，只能一种价格" value="<{$admin_name}>">
                                </div>
                                <{/if}>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table class="table table-striped table-bordered">
                                    <tr>
                                        <td>退货数量</td>
                                        <td>商品id</td>
                                        <td>商品名称</td>
                                        <td>商品数量</td>
                                        <td>单价</td>
                                        <td style="font-weight: bold">总价</td>
                                        <td>活动</td>
                                        <td>魔豆</td>
                                        <td>魔盒余额</td>
                                        <td>在线支付</td>
                                    </tr>
                                    <{foreach key=key item=item from=$order_product}>
                                    <tr>
                                        <td>
                                            <i class="glyphicon glyphicon-plus " onclick="ruleAdd(this, <{$item['qty']}>)"></i>&nbsp;&nbsp;
                                            <span style="color: red" class="refund_product" product_id="<{$item['product_id']}>" qty="<{$item['qty']}>" modou_money="<{$item['modou_money']}>" yue_money="<{$item['yue_money']}>" really_money="<{$item['really_money']}>" ><{$item['refund_num']}></span>&nbsp;&nbsp;
                                            <i class="glyphicon glyphicon-minus" onclick="ruleDel(this)"></i>
                                        </td>
                                        <td><{$item['product_id']}></td>
                                        <td><{$item['product_name']}></td>
                                        <td><{$item['qty']}></td>
                                        <td><{$item['price']}></td>
                                        <td style="font-weight: bold"><{$item['total_money']}></td>
                                        <td style="color: red">-￥<{$item['dis_money']}></td>
                                        <td style="color: red">-￥<{$item['modou_money']}></td>
                                        <td style="color: red">-￥<{$item['yue_money']}></td>
                                        <td>￥<{$item['really_money']}></td>
                                    </tr>
                                    <{/foreach}>
                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table class="table table-striped table-bordered">
                                    <tr>
                                        <td>
                                            <label class="control-label pull-left">同意退款金额：￥</label>
                                            <div class="col-sm-5">
                                                <input type="text" name="really_money" class="form-control" value="<{$really_money|default:'0'}>">
                                            </div>
                                        </td>
                                        <td>
                                            <label class="control-label pull-left">返还到魔豆：￥</label>
                                            <div class="col-sm-5">
                                                <input type="text" name="modou" class="form-control" value="<{$modou_money|default:'0'}>">
                                            </div>
                                            <label class="control-label pull-left" style="font-weight: normal;color: #666666" >等比<span class="modou_bili" style="color: red"><{$modou|default:'0'}></span>魔豆</label>
                                        </td>
                                        <td>
                                            <label class="control-label pull-left">返还到魔盒余额：￥</label>
                                            <div class="col-sm-5">
                                                <input type="text" name="yue"  class="form-control" value="<{$yue|default:'0'}>">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label pull-left">审核意见： </label>
                                <div class="col-sm-9">
                                    <input type="text" name="admin_apply" class="form-control" value="<{$admin_apply}>">
                                </div>
                            </td>
                            <td>
                                <label class="control-label pull-left">case归类： </label>
                                <div class="col-sm-5">
                                    <select class="form-control" name="case_type" id="case_type">
                                        <{foreach key=key item=item from=$case_type_list}>
                                        <option value="<{$key}>" <{if $case_type eq $key}>selected="selected"<{/if}>><{$item}></option>
                                        <{/foreach}>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <{if $refund_status eq 1 or  $refund_status eq 5 }>
                    <button type="button" class="btn btn-success">同意退款</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <{/if}>
                    <{if $refund_status eq 1}>
                    <button type="button" class="btn btn-error">驳回申请</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <{/if}>
                    <button type="button" class="btn btn-close">关闭</button>

                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 90%">
        <div class="modal-content">

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script type="text/javascript">
    var id = '<{$id}>';
    $('.btn-success').click(function(){
        var really_money = $('input[name="really_money"]').val();
        var admin_apply  = $('input[name="admin_apply"]').val();
        var modou = $('input[name="modou"]').val();
        var yue   = $('input[name="yue"]').val();
        var case_type = $('#case_type').val();
        var product_id = {};
        $('.refund_product').each(function(){
            var _value = $(this).text();
            if(_value>0){
                product_id[$(this).attr('product_id')] = _value || 0;

            }
        });
        $.post("/refund/agree_refund/"+id,{really_money:really_money, admin_apply:admin_apply, modou:modou, yue:yue,product_id:product_id,case_type:case_type},function(respData){
            if(respData.status=='success'){
                alert('处理成功');
                location.reload();
            }else{
                alert(respData.msg);
            }
        },'json');
    });
    $('.btn-error').click(function(){
        var admin_apply = $('input[name="admin_apply"]').val();
        var order_name = $('input[name="order_name"]').val();
        var case_type = $('#case_type').val();
        if(confirm('确定驳回申请吗')){
            $.post("/refund/reject_refund/"+id,{admin_apply:admin_apply, order_name:order_name,case_type:case_type  },function(respData){
                if(respData.status=='success'){
                    alert('处理成功');
                    location.reload();
                }else{
                    alert(respData.msg);
                }
            },'json');
        }else{
            return false;
        }
    });
    $('.btn-close').click(function(){
        window.opener=null;
        window.open('','_self');
        window.close();
    });
    function show_model(order_name){
        $.get("/order/order_detail/"+order_name,{ },function(respData){
            if(respData.status=='success'){
                $(".modal-content").html(respData.html);
                $('#myModal').modal('show');
            }
        },'json');
    }

    var click_num = 0;
    var tmp_data  = [];
    function ruleAdd(obj, qty){
        if(click_num == 0){
            tongji();
            click_num =1;
        }
        var _this_val = $(obj).siblings('span').text();
        if(_this_val>=qty){
           return false;
        }
        _this_val ++;


        $(obj).siblings('span').text(_this_val);
        tongji();
        //console.log(_this_val);

    }
    function tongji(){
        $('.refund_product').each(function(index,v){
            var _value = $(this).text();
            var really_money = $(this).attr('really_money');
            var modou_money  = $(this).attr('modou_money');
            var yue_money    = $(this).attr('yue_money');
            var qty          = $(this).attr('qty');
            tmp_data[index] = new  Array();
            var really = _value*really_money/qty;
            tmp_data[index]['really_money']  = really.toFixed(2);
            tmp_data[index]['modou']  = parseInt(_value*modou_money*100/qty);
            var yue = _value*yue_money/qty;
            tmp_data[index]['yue']    = yue.toFixed(2);

        });
        console.log(tmp_data);
        add_refund();

    }

    function ruleDel(obj){
        if(click_num == 0){
            tongji();
            click_num =1;
        }
        var _this_val = $(obj).siblings('span').text();

        if(_this_val<=0){
            return false;
        }
        _this_val --;
        $(obj).siblings('span').text(_this_val);
        tongji();
    }

    function clear_refund(){
        $('input[name="really_money"]').val(0);
        $('input[name="modou"]').val(0);
        $('input[name="yue"]').val(0);
        $('.modou_bili').text(0);

    }
    function add_refund(){
        console.log(tmp_data);
        var really_money = 0;
        var modou = 0;
        var yue = 0;
        $.each(tmp_data,function(index,item){
            if(typeof item=='object'){
                really_money += parseFloat(item['really_money']);
                modou += parseFloat(item['modou']);
                yue   += parseFloat(item['yue']);
            }
        });
        $('input[name="really_money"]').val(really_money.toFixed(2));
        $('input[name="modou"]').val(modou/100);
        $('input[name="yue"]').val(yue.toFixed(2));
        $('.modou_bili').text(modou);

    }

</script>