<style type="text/css">
    .ui-autocomplete{
        border: 1px solid #aaa;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #FFFFFF;
    }
    table{
        font-size: 12px;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">退货管理</h3>
    </div>
    <div class="panel-body">
        <div class="form-horizontal" id="search">
            <div class="form-group">
                <div class="col-sm-2">
                    <select class="form-control" name="search_reason">
                        <{foreach key=key item=item from=$reason}>
                        <option value="<{$key}>"><{$item}></option>
                        <{/foreach}>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" name="search_status" >
                        <{foreach key=key item=item from=$status}>
                        <option value="<{$key}>"><{$item}></option>
                        <{/foreach}>
                    </select>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" size='11' name="search_mobile" placeholder="手机号" value="<{$info['mobile']}>">
                </div>
                <div class="col-sm-2">
                    <select class="form-control" name="search_refer">
                        <option value="">订单来源</option>
                        <{foreach key=key item=item from=$refer}>
                        <option value="<{$key}>"><{$item}></option>
                        <{/foreach}>
                    </select>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" size='50' name="search_order_name" placeholder="订单号" value="">
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="search_product_name" id="search_product_name" placeholder="商品名称">
                </div>
            </div>
            <{include 'bi/search_box.html'}>

            <div class="form-group">
                <div class="col-sm-3">
                    <div class="input-group date  col-md-10"  id="time" >
                        <input class="form-control" type="text" name="search_start_time"  placeholder="订单起始时间"  readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-group date  col-md-10"  id="time2" >
                        <input class="form-control" type="text" name="search_end_time"  placeholder="订单结束时间"  readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" name="search_type">
                        <option value="">设备类型</option>
                        <option value="rfid">RFID</option>
                        <option value="scan">扫码</option>
                        <option value="vision">视觉</option>
                    </select>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-default" id="search-btn">查找</button>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-info" id="explore-btn">导出</button>
                </div>

                <input type="hidden" id="origin_url" value="/refund/table">
            </div>
        </div>
    </div>
    <div class="panel-heading">
        <h3 class="panel-title" style="color: #666;font-size: 12px; font-weight: normal ">退款人数:<span class="user_total" style="color: red;">0</span>&nbsp;&nbsp;&nbsp;&nbsp;退款记录:<span class="refund_total" style="color: red;">0</span>&nbsp;&nbsp;&nbsp;&nbsp;待处理记录:<span class="last_total" style="color: red;">0</span>&nbsp;&nbsp;&nbsp;&nbsp;实退金额:<span class="really_money" style="color: red;">0</span>元&nbsp;&nbsp;&nbsp;&nbsp;申请金额:<span class="refund_money" style="color: red;">0</span>元&nbsp;&nbsp;&nbsp;&nbsp;<span class="hide">退款率:<font class="product_avg" style="color: red;">0</font>%</span></h3>
    </div>
    <div class="panel-body">
        <div id="config-body">
            <table id="config-table" data-toggle="table" data-url="/refund/table" data-pagination="true" data-side-pagination="server" data-page-list="[5,10,15,20]">
                <thead>
                <tr>
                    <th data-field="trade_no" data-align="center">退款流水</th>
                    <th data-field="order_name" data-align="center">订单号</th>
                    <th data-field="order_time" data-align="center">订单时间</th>
                    <th data-field="name" data-align="center">设备名称</th>
                    <th data-field="mobile" data-align="center">手机号</th>
                    <th data-field="reason" data-align="center">申请原因</th>
                    <th data-field="reason_detail" data-align="center">申请详情</th>
                    <th data-field="create_time" data-align="center">创建时间</th>
                    <th data-field="refund_money" data-align="center">申退金额</th>
                    <th data-field="refund_status" data-align="center">退货状态</th>
                    <th data-field="really_money" data-align="center">实退金额</th>
                    <th data-field="refer" data-align="center">订单来源</th>
                    <th data-field="refund_order" data-align="center">退款/订单比率</th>
                    <th data-field="operation" data-align="center">操作</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px">
        <div class="modal-content">

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="download_label" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 50%">
        <div class="modal-content">

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script type="text/javascript">
    function show_model(order_name){
        $.get("/order/order_detail/"+order_name,{ },function(respData){
            if(respData.status=='success'){
                $(".modal-content").html(respData.html);
                $('#myModal').modal('show')
            }
        },'json');
    }

    $(function(){
        $('#config-table').bootstrapTable({
        }).on('click-row.bs.table', function (e, row, $element) {
            $("#curr_id").val(row.id);
        }).on('load-success.bs.table', function (e,data) {
            $('.user_total').text(data.user_total);
            $('.refund_total').text(data.total);
            $('.really_money').text(data.really_money);
            $('.refund_money').text(data.refund_money);
            $('.last_total').text(data.last_total);
            if(data.product_avg != -1){
                $('.product_avg').text(data.product_avg).removeClass('hide');
            }else{
                $('.product_avg').addClass('hide');
            }
        });


        $("#config-body").delegate(".show_img","click",function(){
            MessageBox.alert($(this).attr('data-content'));
        });
        $('#time').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            format: 'yyyy-mm-dd',
            minView: 'month'
        });
        $('#time2').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            format: 'yyyy-mm-dd',
            minView: 'month'
        });
        $("#search-btn").on('click', function(){
            var serverUrl = $('#origin_url').val();
            var filterData = "";
            $.each($("[name^='search_']"), function() {
                field = $(this).attr('name');
                data = $(this).val();
                if(data!=-1 && data!=""){
                    filterData += field+"="+data+"&";
                }
            });
            if(filterData==""){
                var url = serverUrl;
            }else{
                var url = serverUrl +'?'+filterData;
            }
            $('#config-table').bootstrapTable('refresh', {url: url}).on('load-success.bs.table', function (e,data) {
                $('.user_total').text(data.user_total);
                $('.refund_total').text(data.total);
                $('.really_money').text(data.really_money);
                $('.refund_money').text(data.refund_money);
                $('.last_total').text(data.last_total);
                if(data.product_avg != -1){
                    $('.product_avg').text(data.product_avg).parent().removeClass('hide');
                }else{
                    $('.product_avg').parent().addClass('hide');
                }
            });
        });

        $("#explore-btn").on('click', function(){

            $.get("/refund/download_html/"+$('.refund_total').text(),{ },function(respData){
                if(respData.status=='success'){
                    $("#download_label").find('.modal-content').html(respData.html);
                    $('#download_label').modal('show')
                }
            },'json');
            return false;
        });

        $('#search_product_name').autocomplete({
            source:function(query,process){
                var matchCount = this.options.items;//返回结果集最大数量
                $.get("/order/get_product",{"matchInfo":query['term'],"matchCount":matchCount},function(respData){
                    respData = $.parseJSON(respData);//解析返回的数据

                    return process(respData);
                });
            }
        });

        //导出
        $("#explore_result").on('click', function(){
            var serverUrl = '/refund/table';
            var filterData = "";
            $.each($("[name^='search_']"), function() {
                field = $(this).attr('name');
                data = $(this).val();
                if(data!=-1 && data!=""){
                    filterData += field+"="+data+"&";
                }
            });
            if(filterData==""){
                var url = serverUrl+'?is_explore=1';
            }else{
                var url = serverUrl +'?'+filterData+'is_explore=1';
            }
            location.href=url;
        });
        $('#search_product_name').autocomplete({
            source:function(query,process){
                var matchCount = this.options.items;//返回结果集最大数量
                $.get("/order/get_product",{"matchInfo":query['term'],"matchCount":matchCount},function(respData){
                    respData = $.parseJSON(respData);//解析返回的数据

                    return process(respData);
                });
            }
        });

    });

    function download_order(obj, serverUrl){
        var filterData = "";
        $.each($("[name^='search_']"), function() {
            field = $(this).attr('name');
            data = $(this).val();
            if(data!=-1 && data!=""){
                filterData += field+"="+data+"&";
            }
        });
        if(filterData==""){
            var url = serverUrl;
        }else{
            var url = serverUrl +'&'+filterData;
        }
        $(obj).css('color', '#aaa');
        location.href=url;
    }
</script>