<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">告警对象设置</h3>
    </div>
    <div class="panel-body">
        <div class="form-horizontal" id="search">
        </div>
    </div>
    <div class="panel-body">
        <div class="table-toolbar">
            <button type="button" class="btn btn-info btn-sm" id="warn_system_add">添加用户</button>
            <button type="button" class="btn btn-info btn-sm" id="warn_system_edit">编辑用户</button>
            <div id="qr_img" style="left:30px;position:absolute;top: 230px;;z-index: 999;display:none;background:#5bc0de;height: 50px; width: 80%; ">
                <span style="display: block;margin-left: 50px">Ctrl + c 复制输入框 url 到手机微信中访问</span>
                <input type="text" id="input_url" value="https://cityboxapi.fruitday.com/public/warn_msg.html" onclick="this.select()" style="text-align: center;      margin-left: 50px;  width: 50%;">
            </div>
            <button type="button" class="btn btn-info btn-sm" id="warn_wx_add">微信添加用户</button>
            <button style="float:right;margin:0 10px;" type="button" class="btn btn-danger btn-sm" id="warn_system_stop">停用</button>
            <button style="float:right;" type="button" class="btn btn-success btn-sm" id="warn_system_start">启用</button>
            <input type="hidden" id="curr_id" value="0">
        </div>
        <div id="config-body">
            <table id="config-table" data-toggle="table" data-url="/warn_system/get_user_list" data-click-to-select="true" data-select-item-name="radioName" data-pagination="true" data-side-pagination="server" data-page-list="[5,10,15,20]">
                <thead>
                <tr>
                    <th data-field="state" data-radio="true"></th>
                    <th data-field="id" data-align="center">id</th>
                    <th data-field="name" data-align="center">用户名</th>
                    <th data-field="mobile" data-align="center">手机号</th>
                    <th data-field="email" data-align="center">邮件</th>
                    <th data-field="wechat_id" data-align="center">微信open_id</th>
                    <th data-field="alipay_id" data-align="center">支付宝user_id</th>
                    <th data-field="status" data-align="center">状态</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    function ckRadio(){
        var curr_id = $("input[type=radio]:checked").parent().next().html();
        if(typeof(curr_id) == "undefined"){
            $("#curr_id").val(0);
        }else{
            $("#curr_id").val(curr_id);
        }
    }

    $(function(){
        $('#config-table').bootstrapTable({
        }).on('check.bs.table', function (e, row, $element) {
            $("#curr_id").val(row.id);
        });
        $("#config-body").delegate(".show_img","click",function(){
            MessageBox.alert($(this).attr('data-content'));
        });

        $("#search-btn").on('click', function(){
            var serverUrl = $('#origin_url').val();
            var filterData = "";
            $.each($("[name^='search_']"), function() {
                field = $(this).attr('name');
                data = $(this).val();
                if(data!=-1 && data!=""){
                    filterData += field+"="+data+"&";
                }
            });
            if(filterData==""){
                var url = serverUrl;
            }else{
                var url = serverUrl +'?'+filterData;
            }
            $('#config-table').bootstrapTable('refresh', {url: url});
        });

        $("#warn_wx_add").on('click', function () {
            $("#input_url").select();
            $("#qr_img").toggle();
        })
        //编辑
        $("#warn_system_edit").on('click', function () {
            ckRadio();
            var curr_id = $("#curr_id").val();
            if (curr_id == 0) {
                MessageBox.error('请选择编辑项');
                return;
            }
            window.location.href = "/warn_system/edit_user/" + curr_id;
        });




        //编辑
        $("#warn_system_start").on('click', function () {
            ckRadio();
            var curr_id = $("#curr_id").val();
            if (curr_id == 0) {
                MessageBox.error('请选择编辑项');
                return;
            }
            if (confirm("确认要启用吗？")){
                save(curr_id,1);
            }

        });

        //编辑
        $("#warn_system_stop").on('click', function () {
            ckRadio();
            var curr_id = $("#curr_id").val();
            if (curr_id == 0) {
                MessageBox.error('请选择编辑项');
                return;
            }
            if (confirm("确认要停用规则吗？")){
                save(curr_id,0);
            }

        });

        function save(curr_id,status) {
            $.ajax({
                type: "post",
                url: "/warn_system/save_user",
                data: {
                    id:curr_id,
                    status:status
                },
                success: function (data, status) {
                    location.reload();
                },
                error: function () {
                    alert("没有找到ID为"+a+"的规则");
                },
                complete: function () {

                }

            });
        }

        //添加设备
        $("#warn_system_add").on('click', function () {
            window.location.href = "/warn_system/user_add";
        });

    });
</script>