<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">热销商品看板</h3>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <form action="/bi/index" method="get" id="sale_form">
                <div class="form-group">
                    <div class="col-sm-3">
                        <div class="input-group date  col-md-10" data-link-field="dtp_input1" id="time1">
                            <input class="form-control" type="text" name="search_start_time" value="<{$search_start_time}>" placeholder="开始时间"  readonly >
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group date  col-md-10" data-link-field="dtp_input2" id="time2" >
                            <input class="form-control" type="text" name="search_end_time" value="<{$search_end_time}>" placeholder="结束时间"  readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <a class="btn search-sale" onclick="search_result(7)">最近7天</a>
                    </div>
                    <div class="col-sm-1">
                        <a class="btn search-sale" onclick="search_result(30)">最近30天</a>
                    </div>
                    <div class="col-sm-1">
                        <a class="btn search-sale" onclick="search_result(60)">上1个月</a>
                    </div>
                </div>
                <{include 'bi/search_box.html'}>
                <div class="form-group">
                    <{include 'bi/search_product.html'}>

                    <div class="col-sm-5 radio">
                        <label>
                            <input type="radio" name="search_order"  value="0" <{if $search_order eq 0}>checked="checked"<{/if}> >按实付商品件数
                        </label>
                        <label>
                            <input type="radio" name="search_order"  value="1" <{if $search_order eq 1}>checked="checked"<{/if}> >按实付订单数
                        </label>
                    </div>
                    <button type="button" class="btn btn-info" onclick="search_result(0)">查找</button>

                </div>
            </form>
        </div>
    </div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="background-color: #AAAAAA;border: 1px solid #aaa;border-radius: 5px;">&nbsp;&nbsp;&nbsp;TOP15&nbsp;&nbsp;&nbsp;</a>
            </div>
            <div>
                <a class="navbar-brand pull-right" onclick="explore_result()" style="border-radius: 5px;background-color: #222;border: 1px solid #222;">导出全部明细</a>
            </div>
        </div>
    </nav>
    <div class="panel-body">
        <div id="main2" style="width: 900px;height:400px;"></div>
    </div>
</div>
<script src="//cdn.bootcss.com/echarts/3.4.0/echarts.js"></script>

<script type="text/javascript">
    function search_result(day){
        var serverUrl = '/bi/index';
        var filterData = "";
        $.each($("[name^='search_']"), function() {
            field = $(this).attr('name');
            data = $(this).val();
            if($(this).attr('type') == 'radio' &&  $(this).prop('checked')==false){
                return ;
            }
            if(data!=-1 && data!=""){
                filterData += field+"="+data+"&";
            }
        });
        if(filterData==""){
            var url = serverUrl+'?day='+day;
        }else{
            var url = serverUrl +'?'+filterData+'day='+day;
        }
        location.href=url;
    }

    function explore_result(){
        var search = decodeURIComponent(location.search.substring(1));
        location.href='/bi/index?explore=1&'+search;
    }



    $(document).ready(function(){

        $('#time').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            format: 'yyyy-mm-dd',
            minView: 'month'
        });
        $('#time1').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            format: 'yyyy-mm-dd',
            minView: 'month'
        });
        $('#time2').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            format: 'yyyy-mm-dd',
            minView: 'month'
        });

        //导出
        $("#explore_result").on('click', function(){
            var serverUrl = '/order/explore_result';
            var filterData = "";
            $.each($("[name^='next_']"), function() {
                field = $(this).attr('name');
                data = $(this).val();
                if(data!=-1 && data!=""){
                    filterData += field+"="+data+"&";
                }
            });
            if(filterData==""){
                var url = serverUrl;
            }else{
                var url = serverUrl +'?'+filterData;
            }
            location.href=url;
        });

    });

    // 基于准备好的dom，初始化echarts实例
    var start_time = '<{$search_start_time}>';
    var end_time   = '<{$search_end_time}>';

    //柱形图
    var myChart2 = echarts.init(document.getElementById('main2'));
    var product_name = '<{$product_name}>';
    var sale_num     = '<{$sale_num}>';
    var order_num    = '<{$order_num}>';
    option = {
        title : {
            text:start_time+'至'+end_time+'单品销量图',
            textStyle:{
                fontSize:12,
                color:'#444'
            }
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['单品销量','订单数']
        },
        toolbox: {
            show : true,
            feature : {
                dataView : {show: true,readOnly:true,
                    optionToContent: function(opt) {
                        var axisData = opt.xAxis[0].data;
                        var series = opt.series;
                        var table = '<table style="width:100%;text-align:left"><tbody><tr>'
                                + '<td>商品名称</td>'
                                + '<td>' + series[0].name + '</td>'
                                + '<td>' + series[1].name + '</td>'
                                + '</tr>';
                        for (var i = 0, l = axisData.length; i < l; i++) {
                            table += '<tr>'
                                    + '<td>' + axisData[i] + '</td>'
                                    + '<td>' + series[0].data[i] + '</td>'
                                    + '<td>' + series[1].data[i] + '</td>'
                                    + '</tr>';
                        }
                        table += '</tbody></table>';
                        return table;
                    }},
                magicType : {show: true, type: ['line', 'bar']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                data : $.parseJSON(product_name),
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'单品销量',
                type:'bar',
                data:$.parseJSON(sale_num),
                markPoint : {
                    data : [
                        {type : 'max', name: '最大值'},
                        {type : 'min', name: '最小值'}
                    ]
                }
            },
            {
                name:'订单数',
                type:'bar',
                data:$.parseJSON(order_num),
                markPoint : {
                    data : [
                        {type : 'max', name: '最大值'},
                        {type : 'min', name: '最小值'}
                    ]
                }
            }
        ]
    };

    myChart2.setOption(option);
    $('#main2').css('user-select', 'text');

</script>