<div class="col-sm-2">
    <select class="form-control" name="search_parent_class" id="parent_class">
        <option value="-1">商品类目一</option>
        <{foreach key=key item=item from=$parent_class}>
        <option value="<{$item['id']}>" <{if $search_parent_class eq $item['id'] }>selected="selected"<{/if}>><{$item['name']}></option>
        <{/foreach}>
    </select>
</div>
<div class="col-sm-2">
    <select class="form-control" name="search_class" id="product_class">
        <option value="-1">商品类目二</option>
        <{foreach key=key item=item from=$product_class}>
        <option value="<{$item['id']}>" <{if $search_class eq $item['id'] }>selected="selected"<{/if}> ><{$item['name']}></option>
        <{/foreach}>
    </select>
</div>

<script type="application/javascript">
    //根据补货仓获取设备
    $(function(){
        $('#parent_class').change(function(){
            var id = $(this).val();
            $.post("/bi/get_product_class",{id:id},function(data){
                var html = '<option value="-1">商品类目二</option>';
                $.each(data.param, function(i,val){
                    html += '<option value="'+val['id']+'">'+val['name']+'</option>';
                });
                $('#product_class').html(html);
            }, 'json');

        });
    });
</script>