<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">报损</h3>
    </div>
    <div class="panel-body">
        <form id="card_model_form" class="form-horizontal" method="post" action="/warehouse/lose_report_save">
            <div class="form-group">
                <label  class="col-sm-2 control-label">报损仓位</label>
                <div class="col-sm-5">
                    <select name="warehouse_id" id="warehouse_id" class="form-control">
                        <{foreach $avalible_warehouse as $k=>$v}>
                        <option value="<{$v['id']}>"><{$v['name']}></option>
                        <{foreachelse}>
                        <option value="">--请先增加可操作的仓位--</option>
                        <{/foreach}>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label  class="col-sm-2 control-label">报损名称</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="lose_report_name" value="<{$detail['lose_report_name']}>" placeholder="如:报损火龙果" datatype="*" nullmsg="请输入报损名称">
                </div>
                <div class="Validform_lose_reporttip"></div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">报损明细</label>
                <div class="col-sm-10">
                    <input type="text" value="" placeholder="69码|商品唯一编码" id="ser_num"><span class="btn btn-success addItem"><i class="glyphicon glyphicon-plus"></i></span>
                </div>
            </div>

            <div class="gItems"></div>

            <div class="form-group">
                <label  class="col-sm-2 control-label">操作人</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="lose_report_admin_name" value="<{$adminname}>" id="lose_report_admin_name" datatype="*" readonly="readonly">
                </div>
                <div class="Validform_checktip"></div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="hidden" class="form-control" name="id" value="<{$detail['id']|default:0}>">
                    <input type="hidden" name="submit" value="1">
                    <input class="btn btn-primary ajaxpost" type="submit" value="提交">
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function checkOut(t,stock){
//        console.log(t.value,stock);

        if(t.value>stock||t.value==0){
            MessageBox.error("报损数据异常");
            $(t).attr("errormsg",'报损数异常').addClass('Validform_error');
            t.focus();
        }
    }


    function removeItem(obj){
        $(obj).parents('.form-group').remove();
        $('.gId').each(function (k) {
            $(this).html(k + 1);
        });
    }

    $(function(){
        var ser_num_obj = $("#ser_num");
        $(".addItem").click(function () {
            var ser_num = ser_num_obj.val();
            if(ser_num==''){
                ser_num_obj.focus();
            }else{
                var can_add = true;
                $.each($(".pro_code"),function(){
//                    console.log(ser_num,$(this).val());
                    if(ser_num == $(this).val()){
                        can_add = false;
                        return;
                    }
                });

                if(can_add){
                    var pid = $("#product_id").val();
                    var wid = $("#warehouse_id").val();

                    if(wid==''){
                        MessageBox.error("请先选择报损仓位");
                    }

                    if(pid==''){
                        MessageBox.error("请输入报损商品id");
                    }
                    $.post("/warehouse/get_pro_stock_by_ser_num",{ser_num: ser_num,warehouse_id:wid},function(data){
                        //                console.log(data);
                        if(data.code== '200'){
                            addItem(data.info);
                        } else {
                            MessageBox.error(data.msg);
                            ser_num_obj.focus();
                            return;
                        }
                    },'json');
                }else{
                    MessageBox.error("该商品已经添加");
                    ser_num_obj.val('').focus();
                }
            }
        })

        function addItem(info){
            var gItems = $('.gItems');
            if (!gItems)
                return;
            var _html = [
                '<div class="form-group">',
                '<label class="col-sm-2 control-label"></label>',
                '<div class="col-sm-9">',
                '<div class="input-group gProducts">',
                '<div class="input-group-addon"><span class="gId"></span>. 商品编码</div>',
                '<input type="hidden" class="form-control g_product_id" name="product_id[]" value="'+info.product_id+'" readonly/>',
//                '<div class="input-group-addon">商品编码</div>',
                '<input type="text" class="form-control pro_code" name="pro_code[]" value="'+info.serial_number+'" readonly/>',
                '<div class="input-group-addon">名称</div>',
                '<input type="text" class="form-control product_name" name="product_name[]" title="'+info.product_name+'" value="'+info.product_name+'" readonly/>',
                '<div class="input-group-addon" style="border-width: 1px 0 1px 0" >库存</div>',
                '<input type="text" class="form-control stock" name="lose_report_stock_before[]" value="'+info.stock+'" readonly/>',
                '<div class="input-group-addon" style="border-width: 1px 0 1px 0">实际报损</div>',
                '<input type="text" class="form-control qty" name="lose_report_num[]" value="0" placeholder="0" onblur="checkOut(this,'+info.stock+')" datatype="n" nullmsg="请输入报损数量"/>',
                '</div>',
                '</div>',
                '<div class="col-sm-1">',
                '<span class="btn btn-danger removeItem" ONCLICK="removeItem(this);"><i class="glyphicon glyphicon-minus"></i></span>',
                '</div>',
                '</div>'
            ];
            gItems.append(_html.join(''));
            $('.gId').each(function (k) {
                $(this).html(k + 1);
            });
        }

        $("#card_model_form").Validform({//$(".demoform")指明是哪一表单需要验证,名称需加在form表单上;
            btnSubmit:".ajaxpost", //#btn_sub是该表单下要绑定点击提交表单事件的按钮;如果form内含有submit按钮该参数可省略;
            tiptype:4,
            showAllError:false,//可选项 true | false，true：提交表单时所有错误提示信息都会显示，false：一碰到验证不通过的就停止检测后面的元素，只显示该元素的错误信息;
            postonce:true, //可选项 表单是否只能提交一次，true开启，不填则默认关闭;
            ajaxPost:true, //使用ajax方式提交表单数据，默认false，提交地址就是action指定地址;
            callback:function(data){
                console.log(data);
                if(data.status=='y'){
                    MessageBox.success(data.msg);
                    setTimeout("window.location.href = '"+data.to_url+"'",1000);
                    return;
                }else{
                    MessageBox.success(data.msg);
                    return;
                }
                //返回数据data是json格式，{"info":"demo info","status":"y"}
                //info: 输出提示信息;
                //status: 返回提交数据的状态,是否提交成功。如可以用"y"表示提交成功，"n"表示提交失败，在ajax_post.php文件返回数据里自定字符，主要用在callback函数里根据该值执行相应的回调操作;
                //你也可以在ajax_post.php文件返回更多信息在这里获取，进行相应操作；
                //ajax遇到服务端错误时也会执行回调，这时的data是{ status:**, statusText:**, readyState:**, responseText:** }；

                //这里执行回调操作;
                //注意：如果不是ajax方式提交表单，传入callback，这时data参数是当前表单对象，回调函数会在表单验证全部通过后执行，然后判断是否提交表单，如果callback里明确return false，则表单不会提交，如果return true或没有return，则会提交表单。
            }
        });

        $('#card_begin_date').datetimepicker({
            minView: "month",
            language: 'zh', //汉化
            autoclose: 1,
            format:'yyyy-mm-dd',      //格式化日期
            timepicker:false    //关闭时间选项
        });
        $('#card_end_date').datetimepicker({
            minView: "month",
            language: 'zh', //汉化
            autoclose: 1,
            format: 'yyyy-mm-dd',
            timepicker:false    //关闭时间选项
        });

        $('#begin_time').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            format:'yyyy-mm-dd hh:ii:00',      //格式化日期
            timepicker:false    //关闭时间选项
        });

        $('#end_time').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            format:'yyyy-mm-dd hh:ii:00',      //格式化日期
            timepicker:false    //关闭时间选项
        });
    });
</script>