<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="exampleModalLabel">新增<{$keyObj.name}>标签</h4>
		</div>
		<div class="modal-body">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label"><{$keyObj.name}>标签</label>
					<div class="col-sm-10">
						<div class="input-group">
							<input type="text" class="form-control" id="tag" placeholder="标签名">
							<span class="input-group-btn">
                            <button class="btn btn-success btn-tag" type="button"><i class="glyphicon glyphicon-plus"></i></button>
                        </span>
						</div>
					</div>
				</div>
			</form>
			<div class="row">
				<div class="form-group">
					<label class="col-sm-2 control-label text-right"></label>
					<div class="col-sm-10">
						<table id="tableData" class="table table-striped"></table>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		</div>
	</div>
</div>

<script type="text/javascript">
    (function () {
        var key = '<{$key}>';
        var name = '<{$keyObj.name}>';
        var tag = $('#tag');
        var btnTag = $('.btn-tag');
        var columns = [
            {field: 'id', title: 'ID'},
            {
                field: 'name', title: '名称',
                editable: {
                    type: 'text',
                    validate: function (v) {
                        if (v === '') {
                            return '名字不能为空';
                        }
                    }
                }
            }
        ];
        var table = $('#tableData');
        table.bootstrapTable({
            url: '/warehouse/order_tag_data/' + key + '/',
            columns: columns,
            sidePagination: "server",
            idField: 'id',
            onEditableShown: function (field, row, $el, editable) {
                editable.input.$clear.trigger('click');
            },
            onEditableSave: function (field, row, oldValue, $el) {
                $.ajax({
                    url: '/warehouse/order_tag_editable/' + key + '/' + row.id,
                    type: "POST",
                    data: {field: field, row: row, old_value: oldValue},
                    dataType: 'json',
                    uniqueId: 'id',
                    success: function (resp) {
                        var set = row;
                        if (resp.status != 'y') {
                            set = oldValue;
                        }
                        table.bootstrapTable('updateByUniqueId', set);
                    }

                });
            }
        });

        btnTag.on('click', function () {
            var _this = $(this);
            if (_this.attr('loading') == 1 || tag.val().trim() == '') {
                return;
            }
            _this.attr('loading', 1);
            $.ajax({
                url: '/warehouse/order_tag_save/' + key,
                type: "POST",
                data: {tag: tag.val()},
                dataType: 'json',
                success: function (resp) {
                    _this.attr('loading', 0);
                    if (resp.status != 'y') {
                        alert(resp.msg);
                        return;
                    }
                    var row = resp.data;
                    table.bootstrapTable('prepend', {
                        name: row.name,
                        id: row.id
                    });
                }
            });
        });
    })();
</script>