<style type="text/css">
	.pagination-detail { padding-left: 10px }

	.pagination { padding-right: 10px }

	table {
		font-size: 12px;
	}
</style>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="pull-left toolbar">
			<a class="btn btn-info btn-sm" href="/warehouse/order_add/<{$key}>">新增<{$keyObj.name}>单</a>
			<{if $key == 'allocate'}>
			<a class="btn btn-info btn-sm" href="/warehouse/order_template/<{$key}>">预存量</a>
			<a class="btn btn-info btn-sm" href="/warehouse/order_tag/<{$key}>">叫货标签</a>
			<button class="btn btn-info btn-sm btn-order-export">导出叫货单</button>
			<{/if}>
		</div>
		<div class="pull-right form-inline searchbar">
			<{if $key == 'allocate'}>
			<div class="form-group form-group-sm">
				<input type="text" class="form-control" name="supplier_name" placeholder="供应商名称">
			</div>
			<{/if}>
			<div class="input-group form-group-sm">
				<input style="width: 95px" type="text" value="<{$start_date}>" name="start_date" readonly class="form-control">
				<span class="input-group-btn">
                            <button class="btn btn-default btn-sm btn-clear" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                        </span>
			</div>
			<span>-</span>
			<div class="input-group form-group-sm">
				<input style="width: 95px" type="text" value="<{$end_date}>" name="end_date" readonly class="form-control">
				<span class="input-group-btn">
                            <button class="btn btn-default btn-sm btn-clear" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                        </span>
			</div>
			<div class="form-group form-group-sm">
				<select name="warehouse_id" id="warehouse" class="form-control">
					<option value="-1">-请选择仓位-</option>
					<{foreach $warehouse as $k=>$v}>
					<option value="<{$v['id']}>"><{$v['name']}></option>
					<{/foreach}>
				</select>
			</div>
			<{if $keyObj && $keyObj.type}>
			<div class="form-group form-group-sm">
				<select name="type" id="type" class="form-control">
					<option value="-1">-请选择类型-</option>
					<{foreach $keyObj.type as $k=>$v}>
					<option value="<{$k}>"><{$v}></option>
					<{/foreach}>
				</select>
			</div>
			<{/if}>
			<div class="form-group form-group-sm">
				<input type="text" class="form-control" name="name" placeholder="订单名称或订单号">
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-default btn-sm btn-search">查找</button>
				<{if in_array($key, ['stock_in', 'stock_out', 'lose_report'])}>
				<button type="button" class="btn btn-warning btn-sm btn-data-export">导出</button>
				<{/if}>
			</div>
		</div>

		<div style="clear: both"></div>
	</div>
</div>
<table id="tableBody" class="table table-striped"></table>

<script type="text/javascript">
    $(function () {
        var key = '<{$key}>';
        var name = '<{$keyObj.name}>';
        var toolbar = $('.toolbar');
        var searchbar = $('.searchbar');
        var columns = [
            /*{field: 'state', radio: true},*/
            {field: 'id', title: 'ID'},
            {field: key + '_name', title: name + '备注'},
            {field: key + '_order', title: name + '单号'},
            {field: key + '_time', title: name + '时间', sortable: true},
            {field: 'name', title: '仓库'},
            {field: key + '_admin_name', title: '操作人'},
            {
                field: 'operation', title: '操作', align: 'center',
                formatter: function (value, row, index) {
                    var _h = ['<a href="/warehouse/order_detail/' + key + '/' + row.id + '" class="btn btn-xs btn-info">查看</a>'];
                    if(key == 'allocate'){
                        _h.push('<span class="btn btn-xs btn-warning btn-row-export">导出</span>');
                    }
                    return _h.join(' ');
                }
            }
        ];

        $('[name="start_date"],[name="end_date"]').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            format: 'yyyy-mm-dd',
            minView: 2
        });

        switch (key){
	        case 'allocate':
                columns.unshift({'checkbox': true});
                columns.splice(3,0,{
                    field: 'supplier_name', title: '供应商'
                });
	            break;
	        case 'stock_in':
                columns.splice(3,0,{
                    field: 'type_name', title: '入库类型'
                });
	            break;
	        case 'stock_out':
                columns.splice(3,0,{
                    field: 'type_name', title: '出库类型'
                });
                columns.splice(4,0,{
                    field: 'is_label', title: '是否贴标',
                    formatter: function (value, row, index) {
                        var txt = '';
                        switch (parseInt(value)){
                            case 1:
                                txt = '是';
                                break;
                            case 0:
                                txt = '否';
                                break;
                        }
                        return txt;
                    }
                });
	            break;
	        case 'lose_report':
                columns.splice(3,0,{
                    field: 'type_name', title: '报损类型'
                });
	            break;
	        default:
	            break;
        }

        var table = $('#tableBody');
        function queryParams(params) {
            params = params || {};
            $('.searchbar').find('input, select').each(function () {
                var _this = $(this), _val = $.trim(_this.val()), _tagName = _this.get(0).tagName;
                if ((_tagName == 'INPUT' && _val != '') || (_tagName == 'SELECT' && _val != '-1')) {
                    var name = $(this).find("option:selected").data('name') || $(this).data('name') || $(this).attr('name');
                    params[name] = _val;
                }

            });
            return params;
        }
        table.bootstrapTable({
            url: '/warehouse/order_data/' + key,
            columns: columns,
            uniqueId: 'id',
            sidePagination: "server",
            queryParams: queryParams,
            pagination: true,
            pageSize: 10,
            pageList: [10, 25, 50, 100]
        });

        table.on('click', '.btn-row-export', function(e){
            window.location.href="/warehouse/order_row_export/" + $(this).parent().parent().data('uniqueid');
        });

        toolbar.on('click', '.btn-order-export', function () {
            var data = [];
            $.each(table.bootstrapTable('getSelections'), function () {
                data.push(this[key+'_order']);
            });

            if(data.length < 1){
                alert('请选择要导出的订单');
	            return;
            }
	        window.location.href='/warehouse/order_export/' + key + '?order='+data.join(',');
        });

        searchbar.on('click', '.btn-data-export', function () {
            var qp = queryParams();
            if(!qp['end_date'] || !qp['start_date']){
                MessageBox.error('请选择时间段');
                return;
            }
            var q = [];
            for(var i in qp){
                q.push(i + '=' + qp[i]);
            }
            window.location.href = '/warehouse/order_product_export/' + key + '?' +q.join('&');
        }).on('click', '.btn-search', function () {
            table.bootstrapTable('refresh');
        });

    });
</script>