<div class="panel panel-default">
	<div class="panel-body">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label"><{$keyObj.name}>仓位</label>
				<div class="col-sm-5">
					<select name="warehouse_id" id="warehouse" class="form-control">
						<{foreach $warehouse as $k=>$v}>
						<option value="<{$v['id']}>"><{$v['name']}></option>
						<{foreachelse}>
						<option value="">--请先增加可操作的仓位--</option>
						<{/foreach}>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label"><{$keyObj.name}>明细</label>
				<div class="col-sm-5">
					<div class="input-group">
						<input type="text" class="form-control" id="pro_code" placeholder="69码|商品唯一编码">
						<span class="input-group-btn">
                            <button class="btn btn-success btn-pro-code" type="button"><i class="glyphicon glyphicon-plus"></i></button>
                        </span>
					</div>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="form-group">
				<label class="col-sm-2 control-label text-right"></label>
				<div class="col-sm-10">
					<table id="tableData" class="table table-striped"></table>
				</div>
			</div>
		</div>
	</div>
</div>
<link href="/assets/bootstrap/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="/assets/bootstrap/js/bootstrap-editable.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap-table-editable.js" type='text/javascript'></script>
<script type="text/javascript">
    (function () {
        var id = '<{$detail["id"]}>';
        var key = '<{$key}>';
        var name = '<{$keyObj.name}>';
        var table = $('#tableData');
        var warehouse = $('#warehouse');
        var code = $('#pro_code');
        var columns = [
            {field: 'product_id', title: '商品ID'},
            {field: 'product_name', title: '商品名称'},
            {field: 'pro_code', title: '编码'},
            {
                field: 'num', title: name + '预存量',
                editable: {
                    type: 'text',
                    validate: function (v) {
                        if (!/^\d+$/.test(v)) {
                            return '格式错误, 只能为正整数';
                        }
                    }
                }
            },
            {
                field: 'operation', title: '操作', align: 'center',
                formatter: function (value, row, index) {
                    return ['<a data-pid="' + row.product_id + '" class="btn btn-xs btn-danger btn-del">删除</a>'].join('');
                }
            }
        ];

        function tableData() {
            return table.bootstrapTable('getData');
        }

        function checkRow(rows, id) {
            var ins = [];
            var existed = [];
            var TID = [];
            $.each(tableData(), function () {
                TID.push(this.product_id);
            });

            $.each(rows, function () {
                if ($.inArray(this.product_id, TID) < 0) {
                    ins.push(this);
                } else {
                    existed.push(this[id]);
                }
            });

            return {ins: ins, existed: existed};
        }

        table.bootstrapTable({
            url: '/warehouse/order_template_data/' + key + '/',
            columns: columns,
            sidePagination: "server",
            uniqueId: 'product_id',
            queryParams: function queryParams(params) {
                params['warehouse_id'] = warehouse.val();
                return params;
            },
            onEditableShown: function (field, row, $el, editable) {
                editable.input.$clear.trigger('click');
            },
            onEditableSave: function (field, row, oldValue, $el) {
                $.ajax({
                    url: '/warehouse/order_template_editable/' + key,
                    type: "POST",
                    data: {field: field, row: row, old_value: oldValue, warehouse_id: warehouse.val()},
                    dataType: 'json',
                    success: function (resp) {
                        var set = row;
                        if (resp.status != 'y') {
                            set = oldValue;
                        }
                        table.bootstrapTable('updateByUniqueId', set);
                    }

                });
            }
        });

        table.on('click', '.btn-del', function (e) {
            var _this = $(this);
            if (_this.attr('loading') == 1) {
                return;
            }
            if (!window.confirm('确定要删除吗？')) {
                return;
            }
            _this.attr('loading', 1);
            $.ajax({
                url: '/warehouse/order_template_product_del/' + key,
                type: "POST",
                data: {product_id: _this.data('pid'), warehouse_id: warehouse.val()},
                dataType: 'json',
                success: function (resp) {
                    _this.attr('loading', 0);
                    if (resp.status != 'y') {
                        alert(resp.msg);
                        return;
                    }
                    table.bootstrapTable('remove', {
                        field: 'product_id',
                        values: [String(_this.data('pid'))]
                    });
                }
            });
        });

        $('.btn-pro-code').on('click', function () {
            var _this = $(this);
            if (_this.attr('loading') == 1 || code.val().trim() == '') {
                return;
            }
            _this.attr('loading', 1);
            $.ajax({
                url: '/warehouse/order_template_product_add/' + key,
                type: "POST",
                data: {warehouse_id: warehouse.val(), pro_code: code.val().trim()},
                dataType: 'json',
                success: function (resp) {
                    _this.attr('loading', 0);
                    if (resp.status != 'y') {
                        alert(resp.msg);
                        return;
                    }
                    var data = checkRow(resp.data, 'pro_code');
                    table.bootstrapTable('prepend', data.ins);
                    if (data.existed.length > 0) {
                        alert(data.existed.join(',') + '已经存在列表中');
                    }
                }
            });
        });


        warehouse.on('change', function (e) {
            table.bootstrapTable('refresh');
        });

    })();
</script>