<style type="text/css">
	.pagination-detail { padding-left: 10px }

	.pagination { padding-right: 10px }

	table {
		font-size: 12px;
	}
</style>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="pull-right form-inline searchbar">
			<div class="input-group input-group-sm">
				<input type="text" id="start_date" value="" name="start_date" readonly class="form-control">
				<span class="input-group-btn">
                    <button class="btn btn-default btn-sm btn-clear" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                </span>
			</div>
			<span>-</span>
			<div class="input-group input-group-sm">
				<input type="text" id="end_date" value="" name="end_date" readonly class="form-control">
				<span class="input-group-btn">
                <button class="btn btn-default btn-sm btn-clear" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                        </span>
			</div>
			<div class="form-group form-group-sm">
				<select name="warehouse_id" id="warehouse" class="form-control">
					<option value="-1">-请选择仓位-</option>
					<{foreach $warehouse as $k=>$v}>
					<option value="<{$v['id']}>"
					<{if $warehouse_id==$v['id']}>selected<{/if}>><{$v['name']}></option>
					<{/foreach}>
				</select>
			</div>
			<div class="form-group form-group-sm">
				<input type="text" class="form-control" name="name" placeholder="商品名称或商品码">
			</div>
			<div class="form-group form-group-sm">
				<button type="button" class="btn btn-sm btn-default btn-search">查找</button>
				<button class="btn btn-danger btn-export">导出库存</button>
			</div>
		</div>

		<div style="clear: both"></div>
	</div>
</div>
<table id="tableBody" class="table table-striped"></table>
<div class="modal fade" id="modalMain">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">请分段导出</h4>
			</div>
			<div class="modal-body">
				<table class="table table-striped"></table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
    $(function () {
        var modalMain = $('#modalMain');
        var columns = [
            {field: 'product_id', title: '商品ID', width: 65},
            {field: 'pro_code', title: '商品编码', width: 120},
            {field: 'class_name', title: '商品类目', width: 100, sortable: true},
            {
                field: 'img_url', title: '图片', align: 'center', width: 30, formatter: function (value, row, index) {
                return value && value != '' ? '<img src="http://fdaycdn.fruitday.com/' + value + '" width="30"/>' : '';
            }
            },
            {field: 'product_name', title: '名称'},
            {field: 'warehouse_name', title: '仓位'},
            {field: 'volume', title: '规格'},
            {field: 'price', title: '售价', sortable: true},
            {field: 'purchase_price', title: '进价', sortable: true},
            {field: 'stock', title: '仓库库存', sortable: true},
            {field: 'stock_onway', title: '在途库存', sortable: true},
            {field: 'equipment_stock', title: '在售库存', sortable: true},
            {field: 'log_date', title: '日期', sortable: true}
        ];
        var table = $('#tableBody');

        $('#start_date,#end_date').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            format: 'yyyy-mm-dd',
            minView: 2
        });

        table.bootstrapTable({
            url: '/warehouse/product_stock_date_log_data/',
            columns: columns,
            sidePagination: "server",
            onPostBody: function (data) {

            },
            queryParams: function queryParams(params) {
                $('.searchbar').find('input, select').each(function () {
                    var _this = $(this), _val = $.trim(_this.val()), _tagName = _this.get(0).tagName;
                    if ((_tagName == 'INPUT' && _val != '') || (_tagName == 'SELECT' && _val != '-1')) {
                        var name = $(this).find("option:selected").data('name') || $(this).data('name') || $(this).attr('name');
                        params[name] = _val;
                    }

                });
                return params;
            },
            pagination: true,
            pageSize: 100,
            pageList: [10, 25, 50, 100, 300]
        });

        $('.btn-clear').on('click', function (e) {
            $(this).parent().prev().val('');
        });

        $('.btn-search').on('click', function () {
            table.bootstrapTable('refresh');
        });

        function getParams() {
            var params = {};
            $('.searchbar').find('input, select').each(function () {
                var _this = $(this), _val = $.trim(_this.val()), _tagName = _this.get(0).tagName;
                if ((_tagName == 'INPUT' && _val != '') || (_tagName == 'SELECT' && _val != '-1')) {
                    var name = $(this).find("option:selected").data('name') || $(this).data('name') || $(this).attr('name');
                    params[name] = _val;
                }

            });
            return params;
        }

        $(".btn-export").on('click', function () {
            var params = getParams();
            params['is_total'] = 1;
            var _this = $(this);
            if (_this.attr('loading') == 1) {
                return;
            }
            _this.attr('loading', 1);
            $.ajax({
                url: '/warehouse/product_stock_date_log_export/',
                type: "GET",
                data: params,
                dataType: 'json',
                success: function (resp) {
                    _this.attr('loading', 0);
                    if (resp.status != 'y') {
                        alert(resp.msg);
                        return;
                    }

                    var tr = [];
                    $.each(resp.data, function () {
                        tr.push('<tr><td data-offset="' + this.start + '">' + this.start + ' - ' + this.end + '</td></tr>');
                    });
                    modalMain.find('table').html(tr);
                    if (resp.data.length > 1) {
                        modalMain.modal('show');
                    } else {
                        modalMain.find('td:eq(0)').trigger('click');
                    }
                }
            });
        });

        modalMain.on('click', 'td', function () {
            var params = getParams();
            var str = '';
            params['offset'] = $(this).data('offset') - 1;
            for (var i in params) {
                str += (str !== '' ? '&' : '') + i + '=' + params[i];
            }
            window.location.href = '/warehouse/product_stock_date_log_export/?' + str;
        });

    });
</script>