<style>
	.checkbox-inline {
		margin: 0 !important;
		width: 180px !important;
	}
</style>
<div class="panel panel-default">
	<div class="panel-body">
		<form class="form-horizontal from-body">
			<div class="form-group">
				<label class="col-sm-2 control-label">名称</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" name="name" value="<{$detail['name']}>"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">绑定补给仓</label>
				<div class="col-sm-10">
					<{foreach key=key item=item from=$stores}>
					<label class="checkbox-inline">
						<input type="checkbox" name="stores[]" <{if in_array($item.code,$detail.replenish_warehouse)}>checked<{/if}> value="<{$item.code}>"><{$item.name}>
					</label>
					<{/foreach}>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">绑定管理员</label>
				<div class="col-sm-10">
					<{foreach key=key item=item from=$admins}>
					<label class="checkbox-inline">
						<input type="checkbox" name="admins[]" <{if in_array($item.id,$detail.admins)}>checked<{/if}> value="<{$item.id}>"><{$item.alias}>
					</label>
					<{/foreach}>
				</div>
			</div>
		</form>
	</div>
</div>
<br/>
<br/>
<br/>
<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="form-inline">
		<div class="col-md-12 form-control-static tool-bottom text-center">
			<span class="btn btn-success btn-save">提交</span>
		</div>
	</div>
</nav>

<script type="text/javascript">
    (function () {
        var id = "<{$detail.id}>";
        var btnSave = $('.btn-save');
        var form = $('.from-body');
        function formData() {
            var p = {};
            $.each(form.serializeArray(), function () {
                if(this.name.indexOf('[]') > -1) {
                    if(p[this.name] === undefined){
                        p[this.name] = [];
                    }
                    p[this.name].push(this.value);
                }else{
                    p[this.name] = this.value;
                }
            });
            return p;
        }
        btnSave.on('click', function(){
            var data = formData();
            var _this = $(this);
            if (_this.attr('loading') == 1) {
                return;
            }
            if(id > 0){
                data['id'] = id;
            }

            $.ajax({
                url: '/warehouse/warehouse_do_save/',
                type: "POST",
                data: data,
                dataType: 'json',
                success: function (resp) {

                    if (resp.status != 'y') {
                        _this.attr('loading', 0);
                        alert(resp.msg);
                        return;
                    }
                    alert('提交成功');
                    window.location.href="/warehouse/warehouse_list";
                }
            });
        });
    })();
</script>