<style type="text/css">
	.pagination-detail { padding-left: 10px }

	.pagination { padding-right: 10px }

	table {
		font-size: 12px;
	}
</style>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="pull-left toolbar">
			<a class="btn btn-info btn-sm" href="/warehouse/warehouse_detail">新增仓</a>
		</div>
		<div class="pull-right form-inline searchbar">
			<div class="form-group">
				<input type="text" class="form-control" name="name" placeholder="ID或名称">
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-default btn-search">查找</button>
			</div>
		</div>

		<div style="clear: both"></div>
	</div>
</div>
<table id="tableBody" class="table table-striped"></table>


<script type="text/javascript">
    $(function () {
        var columns = [
            {field: 'id', title: 'ID'},
            {field: 'name', title: '名称'},
            {
                field: 'operation', title: '操作', align: 'center',
                formatter: function (value, row, index) {
                    return ['<a href="/warehouse/warehouse_detail/' + row.id + '" class="btn btn-xs btn-info">查看</a>'].join('');
                }
            }
        ];
        var table = $('#tableBody');
        table.bootstrapTable({
            url: '/warehouse/warehouse_list_data/',
            columns: columns,
            sidePagination: "server",
            queryParams: function queryParams(params) {
                $('.searchbar').find('input, select').each(function () {
                    var _this = $(this), _val = $.trim(_this.val()), _tagName = _this.get(0).tagName;
                    if ((_tagName == 'INPUT' && _val != '') || (_tagName == 'SELECT' && _val != '-1')) {
                        var name = $(this).find("option:selected").data('name') || $(this).data('name') || $(this).attr('name');
                        params[name] = _val;
                    }

                });
                return params;
            },
            pagination: true,
            pageSize: 10,
            pageList: [10, 25, 50, 100]
        });

        $('.btn-search').on('click', function () {
            table.bootstrapTable('refresh');
        });

    });
</script>