<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">仓储管理员权限添加</h3>
    </div>
    <div class="panel-body">
        <form id="card_model_form" class="form-horizontal" method="post" action="/warehouse/warehouse_admin_save">
            <div class="form-group">
                <label  class="col-sm-2 control-label">后台账户id：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="admin_id" value="<{$detail['admin_id']}>" placeholder="如:1" datatype="*" nullmsg="请输入后台账户id！">
                </div>
                <div class="Validform_checktip"></div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input name="warehouse_id" type="hidden" value="<{$warehouse_id}>">
                    <input type="hidden" class="form-control" name="id" value="<{$detail['id']|default:0}>">
                    <input type="hidden" name="submit" value="1">
                    <input class="btn btn-primary ajaxpost" type="submit" value="提交">
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(function(){
        $("#card_model_form").Validform({//$(".demoform")指明是哪一表单需要验证,名称需加在form表单上;
            btnSubmit:".ajaxpost", //#btn_sub是该表单下要绑定点击提交表单事件的按钮;如果form内含有submit按钮该参数可省略;
            tiptype:4,
            showAllError:false,//可选项 true | false，true：提交表单时所有错误提示信息都会显示，false：一碰到验证不通过的就停止检测后面的元素，只显示该元素的错误信息;
            postonce:true, //可选项 表单是否只能提交一次，true开启，不填则默认关闭;
            ajaxPost:true, //使用ajax方式提交表单数据，默认false，提交地址就是action指定地址;
            callback:function(data){
//                console.log(data);
                if(data.status=='y'){
                    MessageBox.success(data.msg);
                    setTimeout("window.location.href = '"+data.to_url+"'",1000);
                    return;
                }else{
                    MessageBox.success(data.msg);
                    return;
                }
                //返回数据data是json格式，{"info":"demo info","status":"y"}
                //info: 输出提示信息;
                //status: 返回提交数据的状态,是否提交成功。如可以用"y"表示提交成功，"n"表示提交失败，在ajax_post.php文件返回数据里自定字符，主要用在callback函数里根据该值执行相应的回调操作;
                //你也可以在ajax_post.php文件返回更多信息在这里获取，进行相应操作；
                //ajax遇到服务端错误时也会执行回调，这时的data是{ status:**, statusText:**, readyState:**, responseText:** }；

                //这里执行回调操作;
                //注意：如果不是ajax方式提交表单，传入callback，这时data参数是当前表单对象，回调函数会在表单验证全部通过后执行，然后判断是否提交表单，如果callback里明确return false，则表单不会提交，如果return true或没有return，则会提交表单。
            }
        });

        $('#card_begin_date').datetimepicker({
            minView: "month",
            language: 'zh', //汉化
            autoclose: 1,
            format:'yyyy-mm-dd',      //格式化日期
            timepicker:false    //关闭时间选项
        });
        $('#card_end_date').datetimepicker({
            minView: "month",
            language: 'zh', //汉化
            autoclose: 1,
            format: 'yyyy-mm-dd',
            timepicker:false    //关闭时间选项
        });

        $('#begin_time').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            format:'yyyy-mm-dd hh:ii:00',      //格式化日期
            timepicker:false    //关闭时间选项
        });

        $('#end_time').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            format:'yyyy-mm-dd hh:ii:00',      //格式化日期
            timepicker:false    //关闭时间选项
        });
    });
</script>