/**
 * 重置样式
 */

body, p, blockquote, figure, hr, h1, h2, h3, h4, h5, h6, ul, menu, dir, ol, dl, dd, fieldset, input[type=radio], input[type=checkbox], input[type=range], pre, xmp, plaintext, listing {
	margin: 0;
	white-space: inherit;
}
ul, menu, dir, ol, legend, fieldset, input, input[type=password], input[type=search], textarea, input[type=hidden], input[type=image], input[type=file], input[type=radio], input[type=checkbox], input[type=range], input[type=button], input[type=submit], input[type=reset], button {
	padding: 0;
}
input[type=search], input[type=button], input[type=submit], input[type=reset] {
	-webkit-appearance: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 400;
}
cite, var, address, em {
	font-style: normal;
}
a:-webkit-any-link {
	text-decoration: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, iframe {
	border: 0;
}
ol, ul {
	list-style: none;
}
input, textarea, select, button {
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	margin: 0;
}
input, select, button {
	vertical-align: middle;
	color: inherit;
}
html {
	-webkit-text-size-adjust: none;
}
em {
	font-style: normal;
}
:active {
	outline: 0 none;
}/**
 * 通用样式
 * 定义通用的字体、大小、颜色，链接的效果，一些常用的样式如浮动、对齐方式、特定字体颜色...
 * 这里可以扩充任意的样式，但不推荐定义有特殊关键字的样式如.title,.name,.value等，
 * 因为这种关键字很常用，一般如要定义这种关键字最好在通过模块来限定如.account .title{}
 */
html {
    font-size: 100px;
}
body {
    font: 14px/1.5 Arial, "Microsoft Yahei";
    min-width: 320px;
    max-width: 480px;
    margin: 0 auto;
    color: #4b4b4b;
    background-color: #eee;
    position: relative;
    overflow-x: hidden;
    /*-webkit-user-select: none;*/
    -webkit-transition: transform 500ms;
    transition: transform 500ms;
}
a {
    color: inherit;
}
@media only all and (max-width:640px) {

    /* styles for iPhone/Android landscape (and really narrow browser windows) */
    body, input, textarea {
        font-size: 14px;
    }
}
.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.extra {
    position: relative;
}
.f_x {
    font-size: 2em;
}
.f_l {
    font-size: 1.5em;
}
.f_b {
    font-size: 1.25em;
}
.f_n {
    font-size: 1em;
}
.f_s {
    font-size: .8em;
}
.t_r {
    text-align: right;
}
.t_l {
    text-align: left;
}
.p_t_0 {
    padding-top: 0;
}
.p_b_0 {
    padding-bottom: 0;
}
.c_red {
    color: #ff484f;
}
.c_gray {
    color: #808080;
}
.f_red {
    color: #806d5a;
}
.hidden {
    overflow: hidden;
}
#noscript {
    width: 100%;
    margin-top: 100px;
    padding: 10px 0px;
    border-top: 1px solid #cf5702;
    color: #fff;
    text-align: center;
    background: #EA6201;
}
.header-height{height: .48rem;}
.footer-height{height: .64rem;}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@font-face {font-family: "iconfont";
  src: url('./iconfont.eot'); /* IE9*/
  src: url('./iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.woff') format('woff'), /* chrome、firefox */
  url('./iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('./iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.shadow{
    box-shadow: 0 2px 4px rgba(0,0,0,0.11);
}
/**
 * 结构样式
 * 这里是指定义页面的整体框架，比如常用的上中下布局结构，也定义包括公用的结构的样式如sidebar、menu等
 * 这里常用的样式名包括.header .container .content .footer .sidebar...
 * 定义该文件需要先确定页面的结构，确定哪些是公用部分
 */
header {
    position: relative;
    overflow: hidden;
    height: .44rem;
    line-height: .44rem;
    padding: 0 .5rem;
    background: #fff;
    border-bottom: 1px solid #c8c7cc;
}
header .icon {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: .5rem;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto .25rem;
    text-align: center;
    color: #0072bc;
}
header .icon_home {
    left: 0;
    background-image: url(../images/icon_home.png);
}
header .icon_return {
    left: 0;
    background-image: url(../img/back.png);
}
header .icon_return0 {
    left: 0;
    background-image: url(../images/icon_return.png);
}
header .icon_user {
    background-image: url(../images/icon_user.png);
}
header .icon_confirm {
    background-image: url(../images/icon_confirm.png);
}
header h1 {
    display: inline-block;
    width: 100%;
    font-size: 1.5em;
    font-weight: normal;
    color: #333;
    text-align: center;
}
header .header_title h3 {
    display: inline-block;
    width: auto;
    font-size: 1.5em;
    font-weight: normal;
    color: #333;
    text-align: left;
}
header .header_title span {
    padding-left: .15rem;
    color: #333;
}
.container {
    /*min-height: 320px;*/
    padding-bottom: .64rem;
    -webkit-transition: transform 500ms;
    transition: transform 500ms;
}
.has-footer .container{
    padding-bottom: .49rem;
}
.has_footer {
    margin-bottom: .52rem;
}
.has_fixed2 .container {
    margin-bottom: .95rem;
}
.container.nopadding2 {
    padding: 0;
}
.box {
    border-top: 1px solid #f4f4f4;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.goods-list {
    box-shadow: 0 2px 4px rgba(0,0,0,0.11);
}
.goods-item {
    position: relative;
    display: -webkit-box;
    margin-bottom: 1px;
    padding: .08rem ;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.11);
}
.goods-item:last-child {
    box-shadow: none;
}
.goods-list .thumb {
    position: relative;
    display: -webkit-box;
    -webkit-box-align: center;
    width: .54rem;
    /*height: .74rem;*/
    padding: .05rem .08rem .05rem 0;
}
.goods-list .thumb img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    border-radius: 4px;
}
.goods-list .thumb-empty:after {
    content: "售罄";
    position: absolute;
    top: .05rem;
    left: 0;
    width: .54rem;
    height: .54rem;
    line-height: .54rem;
    color: #fff;
    text-align: center;
    background-color: rgba(0,0,0,0.55);
    font-size: 1.286em;
    border-radius: 4px;
}
.goods-list .content {
    -webkit-box-flex: 1;
    overflow: hidden;
}
.goods-list .content h3 {
    height: .4rem;
    line-height: .20rem;
    overflow: hidden;
    color: #535353;
    margin-bottom: .08rem;
}
.goods-list .content p {
    color: #9f9f9f;
    line-height: .18rem;
    font-size: .85em;
}
.goods-list .content .text {
    color: #806d5a;
}
.goods-list .content .f_red {
    color: #806d5a;
}
.goods-list .content .buy{
    display: -webkit-box;
    line-height: .20rem;
}
.goods-list .content .price{
    -webkit-box-flex: 1;
    font-size: 1.357em;
    color: #ff8000;
}
.goods-list .content .quantity{
    color:#9f9f9f;
}
.cover-bg {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 90;
    background: rgba(0, 0, 0, 0.4);
}
.cover{
    display: none;
    position: fixed;
    z-index: 91;
    top: 50%;
    width: 100%;
}
footer {
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    padding: .08rem;
    text-align: center;
    color: #666;
}
footer .footer-buttons .btn{
    position: relative;
    width: .48rem;
    height: .48rem;
    border-radius: .05rem;
    margin-right: .08rem;
    text-align: center;
    font-size: 30px;
    color: #ff8000;
    background-color: rgba(255,255,255,1);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.11);
}
footer .footer-buttons .btn-2{
    color: #fff;
    background-color: rgba(0,0,0,0.47);
}
footer .footer-share .btn{
    background-image: url(../img/color_share@2x.png);
    background-size: 70% auto;
    background-position: center;
    background-repeat: no-repeat;
}
footer .footer-buttons .btn i{
    position: absolute;
    top: -.05rem;
    width: .16rem;
    height: .16rem;
    line-height: .16rem;
    font-size: 10px;
    font-style: normal;
    text-align: center;
    border-radius: 50%;
    background-color: #ff8000;
}
footer .options {
    width: 100%;
    -webkit-box-flex: 1;
}
footer .options .btn{
    box-shadow: 0 2px 4px rgba(0,0,0,0.11);
}
footer .footer-item {
    display: block;
    width: 33.33%;
    padding-top: .04rem;
    -webkit-box-flex: 1;
    color: #9f9f9f;
}
footer .footer-item.active {
    color: #ff8000;
}
footer .footer-item i {
    display: block;
    height: .25rem;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}
footer.main-nav{
    height: .49rem;
    padding: 0;
    background:rgba(255,255,255,1);
    box-shadow:0px -1px 2px 0px rgba(178,178,178,0.50);
}
footer.main-nav .iconfont{
    font-size: .23rem;
    line-height: .25rem;
}
footer.main-nav span{
    font-size: .8em;
    line-height: 12px;
}
/**
 * 常用组件，包含按钮、表单、列表、提示框、遮罩层等
 * 1 按钮
 * 按钮定义都以.btn开始，辅以.btn-adj定义具体的行为，
 * 这里预定义了.btn-primary,.btn-secondary,.btn-gray,.btn-disabled
 * 2 表单
 *  <form>
 *      <div class="items">
 *          <div class="key">xxx</div>
 *          <div class="val"><input type="text"/></div>
 *      </div>
 *      <div class="options">
 *          <input type="submit" class="btn" value="xxx" />
 *      </div>
 *  </form>
 * 3 列表
 * 预定义了.wlist,.ulist
 *  <section class="ulist user">
 *      <div class="box">
 *          <a href="#"><span>xxx</span></a>
 *      </div>
 *  </section>
 * 4 提示框
 * 模拟常用的.loading、.dialog(alert，confirm)、.toast
 * .toast
 *  <div class="toast"><span>xxx</span></div>
 * .loading
 *  <div class="loading">
 *      <div class="loading-content">
 *          <div class="s-1"></div><div class="s-2">正在加载中</div>
 *      </div>
 *  </div>
 *  .dialog
 *  <div class="dialog">
 *      <div class="dialog-content">
 *          <div class="panel-content">
 *              <div class="panel-cell">
 *                  <h3 class="panel-title>xxx</h3>
 *                  <div class="panel-text">xxx</div>
 *              </div>
 *          </div>
 *          <div class="panel-buttons">
 *              <div class="options">
 *                  <a href="javascript:;" class="btn btn-primary">确定</a>
 *                  <a href="javascript:;" class="btn btn-default">取消</a>
 *              </div>
 *              <div class="panel-tips">xxx</div>
 *          </div>
 *      </div>
 *  </div>
 * 5 滚动图
 *  <div class="slider">
 *      <div class="scroller">
 *      <div class="item" data-link="">
 *          <img src="" alt="" />
 *      </div>
 *      </div>
 *      <div class="subscript"></div>
 *  </div>
 * 6 侧边滑动页.sidebar
 */

/* form common start */

form .items {
    display: -webkit-box;
    border: 1px solid #eee;
    border-radius: 7px;
}
form a.items:hover {
    background-color: #f4f4f4;
}
form .items .key {
    display: inline-block;
    width: 4.25em;
    line-height: .41rem;
}
form .items .val {
    -webkit-box-flex: 1;
}
form .items .txt {
    display: inline-block;
    line-height: .41rem;
}
form .items .cornor {
    display: block;
    display: inline-block;
    width: .09rem;
    height: .13rem;
    margin-top: .15rem;
    background-image: url(../img/icon_arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    -webkit-box-flex: 1;
    -webkit-box-align: center;
}
form input[type="text"], form input[type="password"],form input[type="tel"] {
    width: 100%;
    border: 0;
    padding: .1rem .08rem;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
}
form select {
    width: 100%; 
    height: .43rem;
    line-height: .33rem;
    border: 0;
    padding: .05rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    background-color: #fff;
}
form .single {
    display: block;
}
form .single .key {
    width: 100%;
}
form .single .val {
    -webkit-box-flex: 0;
    width: 100%;
}
.options {
    display: -webkit-box;
}
.options .btn {
    display: block;
    color: #fff;
    border: 0;
    height: .48rem;
    line-height: .48rem;
    font-size: 1.25em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #ff8000;
    background-size: 100% 100%;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-user-select: none;
    vertical-align: middle;
    outline: none;
}
.options .btn:disabled, .options .btn.disabled {
    background-color: rgba(0,0,0,0.5);
}
.options .btn.btn-default{
    color: #929292;
    border: 1px solid #cacaca;
    background-color: #eeeeee;
}

.options .btn span {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: .08rem auto;
}
/* form common end */
/* slider start */

.slider {
    position: relative;
    overflow: hidden;
    margin-bottom: .1rem;
}
.slider .subscript {
    position: absolute;
    right: .12rem;
    bottom: .05rem;
    z-index: 1;
    text-align: right;
    font-size: 1.5em;
    color: #fff;
}
.subscript span {
    display: inline-block;
    width: .12rem;
    height: .12rem;
    margin: 0 .04rem;
    -webkit-border-radius: .06rem;
    border-radius: 50%;
    background: #c9c9c9;
}
.subscript span.active {
    background: #3cedf3;
}
.slider .scroller {
    display: -webkit-box;
    -webkit-box-lines: multiple;
}
.slider .scroller .item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
.slider .scroller img {
    display: block;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    max-width: 100%;
    max-height: 100%;
}
/* slider end */
/* list common start */

.wlist_item {
    position: relative;
    display: -webkit-box;
    margin-bottom: .1rem;
    padding: .05rem .1rem .05rem;
}
.wlist a:hover, .wlist a.active {
    background-color: #f4f4f4;
}
.wlist .thumb {
    display: -webkit-box;
    -webkit-box-align: center;
    width: .78rem;
    height: 1.02rem;
    margin-right: .1rem;
    background-color: #f4f4f4;
}
.wlist .thumb img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
.wlist .content {
    -webkit-box-flex: 1;
    overflow: hidden;
}
.wlist .content h3 {
    line-height: .28rem;
    font-size: 1.25em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wlist .content p {
    color: #999;
    line-height: .24rem;
}
.wlist .content .text {
    color: #806d5a;
}
.wlist .content .f_red {
    color: #806d5a;
}
.wlist .icon {
    display: block;
    padding-left: .2rem;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: .13rem auto;
}
.wlist .content .db {
    display: -webkit-box;
}
.wlist .c2 {
    padding-top: .07rem;
}
.wlist .c2 p {
    line-height: .28rem;
}
.wlist .cornor {
    display: block;
    width: .09rem;
    background-image: url(../images/icon_arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: .09rem auto;
}
.wlist_tips {
    padding: .1rem 0;
    text-align: center;
}
.wlist_next {
    display: block;
    padding: .1rem 0;
    text-align: center;
}
.wlist_next:hover {
    background-color: #f4f4f4;
}
.wlist_next i {
    display: inline-block;
    width: .20rem;
    height: .20rem;
    padding-left: 2px;
    vertical-align: middle;
    background-image: url(../images/icon_daku.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto auto;
}
.wlist_other {
    display: block;
    margin-top: .1rem;
    text-align: center;
}
.wlist_other:hover {
    background-color: #f4f4f4;
}
.wlist .state {
    position: absolute;
    top: .08rem;
    right: .1rem;
}
.wlist .success {
    color: #66a700;
}
.wlist .failed {
    color: #ff6854;
}
.wlist .pending {
    color: gray;
}
/* list common end */

/* ulist start */
.ulist .box{
    margin-bottom: .1rem;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    box-shadow: none;
    border: 0 none;
}
.ulist .box a{
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    border-bottom: 1px solid #d2d2d2;
}

.ulist .box a:hover{
    background-color: #f4f4f4;
}
.ulist .box a.active{
    background-color: #44e0e9;
    color: #fff;
}
.ulist .box a.disabled{
    background-color: #f4f4f4;
}
.ulist .options a:hover{
    background-color: #fff;
}
.ulist a:last-child{
    border-bottom: none;
}
.ulist a span{
    display: block;
    line-height: .43rem;
    padding-left: .1rem;
}
.ulist a em{
    display: inline-block;
    color: #bfbfbf;
}
.ulist a i{
    display: inline-block;
    width: .1rem;
    margin-right: .1rem;
    background-image: url(../images/icon_arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: .08rem .13rem;
}
/* ulist end */
/* tips start */
/* 对话框 */
.dialog {
    display: none;
    z-index: 90;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: auto;
    left: 0;
    width: 100%;
    position: fixed;
    height: 100%; }
.dialog .panel-tips {
    display: none;
    color: #7a7a7a;
    text-align: center;
    font-size:.15rem;background: #fff;
    margin-left: 13px;
    color: #E95417;
    /*border: 1px solid #E95417;*/
    border-radius: 4px;
    width: 265px;
    height: .4rem;
    line-height:.4rem;
}
.dialog .panel-title {
    font-size: .2rem;
    /*margin: 0 0 .1rem 0;*/
    color: #E95417;
    font-weight: normal;
    height: .26rem;
    /*line-height: .36rem;*/
}
.dialog .panel-buttons {
    position: absolute;
    bottom: 5px;
    left: 0;
    /*display: none;*/
    /*width: 100%;*/
    /*border-top: 0.01rem solid #bfbfbf;*/
}
.dialog .panel-input {
    margin: .08rem; }
.dialog .panel-input input {
    outline: 1px solid #eee;
    border: none;
    height: .32rem;
    line-height: .32rem;
    width: 100%;
    text-indent: .08rem; }
.dialog .panel-text {
    font-size: .12rem;
    overflow: auto;
    /*width: 5%;*/
    margin: auto;
    padding-top: 10px;
}
.dialog .panel-text img {
    margin: 0 auto; }
.dialog .options {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box; }
.dialog .options .btn-default {
    border: none;
    margin-left: 13px;
    color: #878787;
    background: #D7D7D7;
    width: 128px;
}
.dialog .options .btn-primary {
    border-left: 0.01rem solid #bfbfbf;
    color: #fff;
    background: #E95417;
    margin-left: 13px;
    width: 128px;
}
.dialog .options .btn {
    height: 0.46rem;
    line-height: 0.46rem;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    /*width: 1%;*/
    font-size: .17rem;
    display: block;
    text-align: center; }
.dialog .options .btn:hover {
    text-decoration: none; }
.dialog .options .btn.disabled {
    color: #008EFF;
    cursor: not-allowed; }
.dialog .panel-content {
    display: table;
    width: 100%;
    height: 105px;
    color: #3a3a3a;
    text-align: center; }
.dialog .dialog-content {
    position: fixed;
    z-index: 99;
    top: calc(50% - 62px );
    left: calc(50% - 147px );
    width: 295px;
    /*min-height: 336px;*/

    background: white;
    overflow: hidden;
    border-radius: 0.06rem 0.06rem 0.06rem 0.06rem;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5); }
.dialog .panel-cell {
    padding: 0.08rem;
    /*display: table-cell;*/
    vertical-align: middle;
    line-height: 1.6;
    border: 0px solid #E95417;
    height: 108px;
}
.dialog .panel-cell>img{
    width: 73px;
    margin: auto;
    display: none;
}

.dialog .panel-close {
    position: absolute;
    top: -15px;
    right: -15px;
    display: block;
    width: 35px;
    height: 35px;
    background: url(../images/icons/icon-close.png) no-repeat center center; }
.dialog .panel-show {
    display: block; }

.toast {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 30%;
    width: 200px;
    height:155px;
    margin: 0 auto;
    text-align: center;
    /*background: rgba(0, 0, 0, 0.6);*/
    border-radius: 0.06rem;
}
.toast img{
    width: 60px;
    margin:30px auto 10px;
    display: none;
}
.toast span {
    font-size: .14rem;
    display: inline-block;
    padding: 5px 14px;
    color: #fff;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.6);
}
.loading {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 200;
}
.loading .loading-content {
    border-radius: 10px;
    position: absolute;
    width: 195px;
    height: 162px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    background: rgba(0, 0, 0, 0.69);
}
.loading .loading-content .s-2 {
    /*display: none; */
    font-size:20px;
}
.loading .loading-content > div {
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    width: 100%;
    bottom: 20px;
    color:#fff;

}
.loading .loading-content .s-2 span {
    /*display: none; */
    font-size:12px;
    margin-top: 3px;
    display: block;
}


.loading .loading-content .s-1 {
    top: calc(50% - 80px);
    left: calc(50% - 100px);
    width: 195px;
    height: 162px;
    /*background-image: url(../img/Counting@2x.png);*/
}
.loading .loading-content .s-1 img{
    width: 60px;
    text-align: center;
    margin: 30px auto;
}


@keyframes rotateCW {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotateCW {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotateCW {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-o-keyframes rotateCW {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}

/* pagination start */
.nodata{
    padding: .08rem 0;
    text-align: center;
}
.nextpage{
    padding: .08rem 0;
    text-align: center;
}
/* pagination end */

/* sidebar start */
body.move{
    width: 100%;
    overflow-x: hidden;
}
#sidebar-bg {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    background-color: rgba(0,0,0,0.15);
}
.sidebar {
    display: none;
    position: fixed;
    z-index: 101;
    width: 100%;
    background-color: #fff;
    overflow-y: auto;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in
}
.sidebar.left{
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.sidebar.bottom{
    right: 0;
    bottom: 0px;
    /*height: 225px;*/
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
.sidebar.left.open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.sidebar.bottom.open{
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}
.sidebar .sidebar-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1.76rem;
    padding: 0 .56rem;
    overflow-y: auto
}
/* sidebar end */

/* preview start */
.mp-preview{
    position: absolute;
    z-index: 101;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    overflow-y: auto;
}
.mp-preview .container{
    padding: 0;
}
.mp-preview .container img{
    max-width: 100%;
}
/* preview end */

/* join-result start */
.join-result{
    width: 98%;
    left: 1%;
    border-radius: 6px;
    background-color: #fff;
}
.join-close{
    position: absolute;
    top: -.4rem;
    right: 0;
    color: rgba(255,255,255,.69);
    font-size: .25rem;
}
.join-result-content{
    padding: .08rem;
}
.join-result-title{
    padding: .15rem 0 .10rem;
    line-height: .32rem;
    font-size: 1.64em;
    color: #ff8000;
    text-align: center;
}
.join-result-list{
    height: 2.31rem;
    overflow: auto;
}
.join-result .goods-list{
    box-shadow: none;
}
.join-result .goods-item{
    padding: 0;
    box-shadow: none;
}
.join-result .goods-list .thumb{
    width: 1.03rem;
    height: .69rem;
    padding: .04rem .08rem .04rem 0;
}
.join-result .goods-list .thumb img{
    border-radius: 2px;
}
.join-result .goods-list .content{
    padding: .04rem 0;
    border-bottom:1px solid rgba(0,0,0,0.11);
}
.join-result .goods-item:last-child .content{
    border-bottom: none;
}
.join-result .goods-list .content h3{
    height: .3rem;
    margin-bottom: .2rem;
    line-height: .15rem;
    font-size: .8em;
    color: #686868;
}
.join-result .join-other{
    display: -webkit-box;
    height: .18rem;
    line-height: .18rem;
    font-size: .8em;
}
.join-result .join-other-content{
    -webkit-box-flex: 1;
    color: #9f9f9f;
}
.join-result .join-other-content em{
    font-size: .18rem;
    color: #ff8000;
}
.join-result .join-other-more{
    padding-top: 2px;
    color: #ff8000;
}
/* join-result end */


@media only screen and (min-width: 330px){
    .join-result{
        width: 76.8%;
        left: 11.6%;
    }
}
.empty-page-tip {
    padding-top: 50%;
    color: #cbcbcb;
    line-height: 21px;
    text-align: center;
    background-image: url(../img/fill.png);
    background-repeat: no-repeat;
    background-position: center 80%;
    background-size: auto 60px;
}

/* account start*/

#login-form {
    display: none
}
#register-form {
    display: none
}
.account {
    position: fixed;
    top: 20px;
    background: #fff;
    z-index: 91;
    max-width: 2.64rem;
    padding: .16rem .18rem .16rem;
    border-radius: .06rem;
    animation: account .5s ease-out;
    -webkit-animation: account .5s ease-out;
    -moz-animation: account .5s ease-out;
    -ms-animation: account .5s ease-out;
    -o-animation: account .5s ease-out;
}
.account h3 {
    text-align: center;
    color: #ff8000;
    font-size: .2rem;
}
.account h3 p {
    line-height: 1;
    margin: 0 auto .16rem
}
.account img {
    line-height: 1;
    margin: .1rem 0
}
.account>span {
    position: absolute;
    display: block;
    line-height: 1;
    top: .08rem;
    right: .08rem;
    color: #e3e3e3;
    font-size: .3rem;
}
.account .backlogin {
    color: #ff8000;
    font-size: .15rem;
    top: .18rem;
    left: .18rem;
}
.account dl {
    background: #F5F5F5;
    border-radius: .04rem;
    width: 2.6rem;
    height: .44rem;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    display: box;
    margin-bottom: .16rem
}
.account dl dt {
    width: .7rem;
    height: .22rem;
    line-height: .2rem;
    margin: .11rem 0;
    /*font-size: .2rem;*/
    text-align: center;
    border-right: 1px solid #e3e3e3;
    color: #E8C073
}
.account dl dd {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
}
.account dl dd input , .account dl div button   {
    height: .43rem;
    line-height: .43rem;
    width: 100%;
    font-size: .15rem;
    color: #5c5c5c;
    border: none;
    outline: none;
    background: none;
    padding-left: .05rem
}
.account dl div {
    background: #fff
}
.account dl div button {
    width: 1rem;
    background: #BFA28B;
    border-radius: .04rem;
    padding-left: 0rem;
    margin-left: .05rem;
    font-size: .13rem;
    color: #fff
}
.account dl div button span {
    font-size: .13rem;
}
.account .password {
    color: #BFA28B
}
.account .btn.disabled {
    background: #C6C6C6;
}
.account>div {
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    display: box;
}
.account div span, .account div button {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    display: block;
    font-size: .18rem;
    color: #fff;
    border-radius: .02rem;
    height: .44rem;
    line-height: .44rem;
    text-align: center;
    border: none;
}
.account .register {
    background: #5C5C5C;
    margin-right: .08rem
}
.account .login {
    background: #ff8000;
}
.account .code {
    color: #5C5C5C
}
.account dl input::input-placeholder {
    color: #e3e3e3;
}
.account dl input::-webkit-input-placeholder {
    color: #e3e3e3;
}
.account dl input::-moz-input-placeholder {
    color: #e3e3e3;
}
@-moz-keyframes account {
    from {
        left: 4.8rem;
    }
    to {
        left:inherit;
    }
}
@-o-keyframes account {
    from {
        left: 4.8rem;
    }
    to {
        left:inherit;
    }
}
@-ms-keyframes account {
    from {
        left: 4.8rem;
    }
    to {
        left:inherit;
    }
}
@keyframes account {
    from {
        left: 4.8rem;
    }
    to {
        left:inherit;
    }
}
@-webkit-keyframes account {
    from {
        left: 4.8rem;
    }
    to {
        left:inherit;
    }
}

/* account end*/

/**open door*/
.opening_gif{
    padding-top: 50%;
    color: #cbcbcb;
    line-height: 21px;
    text-align: center;
    background-image: url('../img/opening.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 500px;
}