<style>
 
 
#search-suggest {  
    width: 200px;  
    background-color: #fff;  
    border: 1px solid #999;  
    display: none;  
}  
 
.suggest ul {  
    list-style: none;  
    padding-left:0px;
}  
 
.suggest ul li {  
    padding: 3px;  
    padding-left:10px;
    font-size: 14px;  
    line-height: 25px;  
    cursor: pointer;/*手型*/  
}  
 
.suggest ul li:hover {  
    text-decoration: underline;  
    background-color: #e5e5e5;  
}
</style>
<div class="panel panel-default">
	<div class="panel-heading">添加下架单</div>
	<div class="panel-body">
		<!--<div id="searchbox" style="position:relative;z-index:99;height:60px;" class="suggest" class="table-toolbar">-->
			<!--<input class="form-control" id="search_name" type="text" style="width:180px;display:inline;" placeholder="请输入产品id查询" />-->
			<!--<input type="button" class="btn btn-info" value="搜索并添加" onclick="searchProduct()" />-->
            <!--&lt;!&ndash;<a href='javascript:void(0)' onclick="refresh_cache()" role="button" class="btn btn-info btn-sm">刷新配置缓存</a>&ndash;&gt;-->
        <!--</div>-->
		<form id="add-order-form" class="form-horizontal" role="form" method="post" action="/deliver/off_shipping_add_order_save">
		   <div class="bootstrap-table"><div class="fixed-table-container" style="padding-bottom:0px"><div class="fixed-table-body">
		   <table id = "add-order" class="table table-hover" data-click-to-select="true" data-select-item-name="radioName">
			<thead>
				<tr>
					<th colspan="6" style="text-align:center;padding:10px;">
						设备名称：<{$name}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 选择下架日期：
						<select style="width:25%;display:inline;" id="send_date" class="form-control" name="send_date">
                        <{foreach $datetime_options as $val}>
                        	<option value="<{$val}>"><{$val}></option>
                        <{/foreach}>
                        </select>
					</th>
				</tr>
				<tr>
					<th style="text-align:center">
						<div class="th-inner">商品名称</div>
						<div class="fht-cell"></div>
					</th>
					<th style="text-align:center">
						<div class="th-inner">售价</div>
						<div class="fht-cell"></div>
					</th>
					<th style="text-align:center">
						<div class="th-inner">库存量</div>
						<div class="fht-cell"></div>
					</th>
					<th style="text-align:center">
						<div class="th-inner">下架量</div>
						<div class="fht-cell"></div>
					</th>
					<th style="text-align:center">
						<div class="th-inner">操作</div>
						<div class="fht-cell"></div>
					</th>
				</tr>
			</thead>	
			<tbody id="tbody">
				<{foreach key=key item=val from=$arr_table}>
				<tr class="insert_tr" <{if $val['off_num'] > 0}>style="background-color:#BFBFBF;"<{/if}> key = <{$key}>>
					<td style="text-align:center">
						<{$val['product_name']}>
						<input type="hidden" name="products[<{$key}>][product_id]" value="<{$val['product_id']}>" />
						<input type="hidden" name="products[<{$key}>][product_name]" value="<{$val['product_name']}>" />
					</td>
					<td style="text-align:center">
						<{$val['price']}>
						<input type="hidden" name="products[<{$key}>][price]" value="<{$val['price']}>" />
					</td>
					<td style="text-align:center;">
						<{$val['stock']}>
						<input type="hidden" name="products[<{$key}>][stock]" value="<{$val['stock']}>" />	
					</td>
					<td style="text-align:center;">
						<input name="products[<{$key}>][off_num]" type="text" style="width:40px;" value="<{$val['off_num']}>" />
					</td>
					<td style="text-align:center;">
						<input type="button"  class="btn btn-info btn-sm del-btn" value="删除" />
					</td>
				</tr>
				<{/foreach}>
				<tr>
					<td colspan="6" style="text-align:center;">
						<input type="hidden" name="equipment_id" value="<{$equipment_id}>"  />
						<button type="submit" class="btn btn-danger" onclick="return confirm('是否确认提交下架单？')">提交下架单</button>
					</td>
				</tr>
			</tbody>
		   </table>
		   </div></div></div>
		</form>
	</div>
</div>

<script type="text/javascript">

    $(function(){
		$('.del-btn').click(function(){
			$(this).parent('td').parent('tr').remove();
		});

    });
</script>

