<style>
 
 
#search-suggest {  
    width: 200px;  
    background-color: #fff;  
    border: 1px solid #999;  
    display: none;  
}  
 
.suggest ul {  
    list-style: none;  
    padding-left:0px;
}  
 
.suggest ul li {  
    padding: 3px;  
    padding-left:10px;
    font-size: 14px;  
    line-height: 25px;  
    cursor: pointer;/*手型*/  
}  
 
.suggest ul li:hover {  
    text-decoration: underline;  
    background-color: #e5e5e5;  
}
</style>
<div class="panel panel-default">
	<div class="panel-heading">添加出库单</div>
	<div class="panel-body">
		<div id="searchbox" style="position:relative;z-index:99;height:60px;" class="suggest" class="table-toolbar">
			<input type="button" class="btn btn-info" value="添加" onclick="searchProduct()" />
			<input class="search_product form-control" id="search_name" type="text" style="width:180px;display:inline;" placeholder="请输入商品名称搜索" />
            <!--<a href='javascript:void(0)' onclick="refresh_cache()" role="button" class="btn btn-info btn-sm">刷新配置缓存</a>-->
        </div>
		<form id="add-order-form" class="form-horizontal" role="form" method="post" action="/deliver/shipping_add_order_save">
		   <div class="bootstrap-table"><div class="fixed-table-container" style="padding-bottom:0px"><div class="fixed-table-body">
		   <table id = "add-order" class="table table-hover" data-click-to-select="true" data-select-item-name="radioName">
			<thead>
				<tr>
					<th colspan="6" style="text-align:center;padding:10px;">
						设备名称：<{$name}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 选择补货日期：
						<select style="width:25%;display:inline;" id="send_date" class="form-control" name="send_date">
                        <{foreach key=key item=val from=$datetime_options}>
                        	<option <{if $key eq 1}>selected=selected<{/if}> value="<{$val}>"><{$val}></option>
                        <{/foreach}>
                        </select>

						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;选择补货批次：
						<select style="width:25%;display:inline;" id="send_batch" class="form-control" name="send_batch">
							<{foreach key=key item=val from=$send_batch_options}>
							<option <{if $key eq 1}>selected=selected<{/if}> value="<{$key}>"><{$val}></option>
							<{/foreach}>
						</select>
					</th>
				</tr>
				<tr>
					<th style="text-align:center">
						<div class="th-inner">商品名称</div>
						<div class="fht-cell"></div>
					</th>
					<th style="text-align:center">
						<div class="th-inner">售价</div>
						<div class="fht-cell"></div>
					</th>
					<th style="text-align:center">
						<div class="th-inner">仓库库存</div>
						<div class="fht-cell"></div>
					</th>
					<th style="text-align:center">
						<div class="th-inner">预存量</div>
						<div class="fht-cell"></div>
					</th>
					<th style="text-align:center">
						<div class="th-inner">库存量</div>
						<div class="fht-cell"></div>
					</th>
					<th style="text-align:center">
						<div class="th-inner">补货量</div>
						<div class="fht-cell"></div>
					</th>
					<th style="text-align:center">
						<div class="th-inner">操作</div>
						<div class="fht-cell"></div>
					</th>
				</tr>
			</thead>	
			<tbody id="tbody">
				<{foreach key=key item=val from=$arr_table}>
				<tr class="insert_tr" key = <{$key}>>
					<td style="text-align:center">
						<{$val['product_name']}>
						<input type="hidden" name="products[<{$key}>][product_id]" value="<{$val['product_id']}>" />
						<input type="hidden" name="products[<{$key}>][product_name]" value="<{$val['product_name']}>" />
					</td>
					<td style="text-align:center">
						<{$val['price']}>
						<input type="hidden" name="products[<{$key}>][price]" value="<{$val['price']}>" />
					</td>
					<td style="text-align:center">
						<{$val['wh_stock']}>
					</td>
					<td style="text-align:center;">
						<{$val['pre_qty']}>
						<input type="hidden" name="products[<{$key}>][pre_qty]" value="<{$val['pre_qty']}>" />
					</td>
					<td style="text-align:center;">
						<{if $val['stock']}><{$val['stock']}><{else}>0<{/if}>
						<input type="hidden" name="products[<{$key}>][stock]" value="<{$val['stock']}>" />	
					</td>
					<td style="text-align:center;">
						<input name="products[<{$key}>][add_num]" oninput="calculateNum()" class="addnum" type="text" style="width:40px;" value="<{$val['add_num']}>" />
					</td>
					<td style="text-align:center;">
						<input type="button"  class="btn btn-info btn-sm del-btn" value="删除" />
					</td>
				</tr>
				<{/foreach}>
				<tr>
					<td colspan="6" style="text-align:center;font-size:16px;color:#ff0000;">
						<input type="hidden" name="equipment_id" value="<{$equipment_id}>"  />
						补货量合计:<span id="addnum_all">0</span>件
						&nbsp;&nbsp;
						盒子在售库存：<span id="stock_all"><{$stock_all}></span>件
						&nbsp;&nbsp;
						补货后库存：<span id="now_all">0</span>件
						<br>
						<button type="submit" class="btn btn-danger" onclick="return confirm('是否确认提交补货单？')">提交补货单</button>
					</td>
				</tr>
			</tbody>
		   </table>
		   </div></div></div>
		</form>
	</div>
</div>

<script type="text/javascript">
	calculateNum();
	
    function searchProduct(){
    	if ($('#search_name').val() != ''){
    		$.post("/products/ajax_search_product",{search_name:$('#search_name').val(),equipment_id:<{$equipment_id}>},function(respData){
	            if(respData.status=='success'){
	            	var product_info = respData.product_info[0];
	            	var after_tr = $('#tbody tr:last');
	            	var i = $('.insert_tr:last').attr('key') ? $('.insert_tr:last').attr('key') : 0;
	            	var insert_i = parseInt(i) + 1;
	            	var insert_html = '<tr class="insert_tr" key = "'+insert_i+'">';
	            	insert_html += '<td style="text-align:center">';
	            	insert_html += product_info['product_name'];
	            	insert_html = insert_html + '<input type="hidden" name="products['+insert_i+'][product_id]" value="'+product_info['id']+'" />';
	            	insert_html = insert_html + '<input type="hidden" name="products['+insert_i+'][product_name]" value="'+product_info['product_name']+'" />'
	            	insert_html += '</td>';
	            	insert_html += '<td style="text-align:center">';
	            	insert_html += product_info['price'];
	            	insert_html = insert_html + '<input type="hidden" name="products['+insert_i+'][price]" value="'+product_info['price']+'" />';
	            	insert_html += '</td>';
                    insert_html += '<td style="text-align:center">';
                    insert_html += product_info['wh_stock'] || 0;
                    insert_html += '</td>';
	            	insert_html += '<td style="text-align:center">';
	            	insert_html += product_info['pre_num'];
	            	insert_html = insert_html + '<input type="hidden" name="products['+insert_i+'][pre_qty]" value="'+product_info['pre_num']+'" />';
	            	insert_html += '</td>';
	            	insert_html += '<td style="text-align:center">';
	            	insert_html += product_info['stock_num'];
	            	insert_html = insert_html + '<input type="hidden" name="products['+insert_i+'][stock]" value="'+product_info['stock_num']+'" />';
	            	insert_html += '</td>';
	            	insert_html += '<td style="text-align:center">';
	            	insert_html = insert_html + '<input type="text" class="addnum" oninput="calculateNum()" name="products['+insert_i+'][add_num]" style="width:40px;" value="'+product_info['add_num']+'" />';
	            	insert_html += '</td>';
	            	insert_html += '<td style="text-align:center">';
	            	insert_html = insert_html + '<input type="button"  class="btn btn-info btn-sm del-btn" value="删除" />';
	            	insert_html += '</td>';
	            	insert_html += '</tr>';
	            	$(insert_html).insertBefore(after_tr);
	            	calculateNum();
	            	$('.del-btn').click(function(){
						$(this).parent('td').parent('tr').remove();
						calculateNum();
					});
	            } else {
	            	location.reload();
	            }
	        },'json');
    	}
    	
    }
    
    $(function(){
		$('.del-btn').click(function(){
			$(this).parent('td').parent('tr').remove();
			calculateNum();
		});

    });
    
    function calculateNum(){
    	var num = 0;
    	var stock_all = $('#stock_all').html();
    	$('.addnum').each(function(i,v){
    		if ($(v).val() > 0){
    			num = parseInt(num) + parseInt($(v).val());
    		}
    		$('#addnum_all').html(num);
    		$('#now_all').html(num + parseInt(stock_all));
    	});
    }
</script>

