<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"> 开门权限配置</h3>
    </div>
    <div class="panel-body">
        <div class="form-horizontal" id="search">
            <div class="form-group">
                <div class="col-sm-2">
                    <input type="text" class="form-control" size='8' name="search_mobile" placeholder="手机号">
                </div>
                <button type="button" class="btn btn-default" id="search-btn">搜索</button>
                <input type="hidden" id="origin_url" value="/deliver/permission_list_table">
            </div>
        </div>

        <div class="table-toolbar">
            <button type="button" class="btn btn-info btn-sm" id="deliver_show">增加</button>
            <button type="button" class="btn btn-danger btn-sm" id="do_unset">取消权限</button>
            <input type="hidden" id="curr_id" value="0">
        </div>
    </div>
    <div class="panel-body">
        <div id="config-body">
            <table id="config-table" data-toggle="table" data-url="/deliver/permission_list_table" data-click-to-select="true" data-select-item-name="radioName" data-pagination="true" data-side-pagination="server" data-page-list="[5,10,15,20]">
                <thead>
                <tr>
                    <th data-field="state" data-radio="true"></th>
                    <th data-field="id" data-align="center">ID</th>
                    <th data-field="mobile" data-align="center">手机号</th>
                    <th data-field="equipment_id" data-align="center">设备id</th>
                    <th data-field="old_deliver" data-align="center">旧版权限</th>
                    <th data-field="add_time" data-align="center">权限开始日期</th>
                    <th data-field="end_time" data-align="center">权限结束日期</th>
                    <th data-field="status_name" data-align="center">权限状态</th>
                    <th data-field="shipping_no" data-align="center">出库单号</th>

                    <!--<th data-field="pay_comment" data-align="center">操作</th>-->
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    function getSearch(){
        var serverUrl = $('#origin_url').val();
        var filterData = "";
        $.each($("[name^='search_']"), function() {
            field = $(this).attr('name');
            data = $(this).val();
            if(data!=-1 && data!=""){
                filterData += field+"="+data+"&";
            }
        });
        if(filterData==""){
            var url = serverUrl;
        }else{
            var url = serverUrl +'?'+filterData;
        }
        return url;
    }

    $(function(){
        $('#config-table').bootstrapTable({
        }).on('click-row.bs.table', function (e, row, $element) {
            $("#curr_id").val(row.id);
        });
        $("#config-body").delegate(".show_img","click",function(){
            MessageBox.alert($(this).attr('data-content'));
        });
        $("#search-btn").on('click', function(){
            var url = getSearch();
            $('#config-table').bootstrapTable('refresh', {url: url});
        });

        $("#deliver_show").click(function(){
            window.location.href = "/deliver/add_permission/";
        });

        $("#do_unset").click(function(){
            var cur_id = $("#curr_id").val();
            if (cur_id == 0) {
                MessageBox.error('请选择查看项');
                return;
            }
            $.post("/deliver/unset_permission",{id:cur_id},function(respData){
                if(respData.status== 'success'){
                    var url = getSearch();
                    $('#config-table').bootstrapTable('refresh', {url: url});
                } else {
                    MessageBox.error(respData.msg);
                    return;
                }
            },'json');
        });
    });
</script>