<style>
    .modal-dialog{width: 900px}
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">更改配送日期</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group">
            <div class="col-sm-10">
                <input name="deliver_date" id="deliver_date" value="<{$today}>">
            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    <button type="button" class="btn btn-primary btn-save-sel-member">确认</button>
    <input type="hidden" id="selected_mobile">
    <input type="hidden" id="selected_id">
    <input type="hidden" id="selected_name">
    <input type="hidden" value="<{$ids}>" id="shipping_order_ids">

</div>
<script>
    $(function () {
        $('#deliver_date').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            minView: "month",
            format:'yyyy-mm-dd',      //格式化日期
            timepicker:false    //关闭时间选项
        });

        $(".btn-save-sel-member").click(function(){
            var deliver_date = $("#deliver_date").val();
            var ids = $("#shipping_order_ids").val();
            if(ids!=''){
                $.post('/deliver/do_change_deliver_date', {ids:ids,deliver_date:deliver_date}, function (data) {
                    if(data.status== 'success'){
                        MessageBox.success(data.msg);
                        var serverUrl = $('#origin_url').val();
                        var filterData = "";
                        $.each($("[name^='search_']"), function() {
                            field = $(this).attr('name');
                            data = $(this).val();
                            if(data!=-1 && data!=""){
                                filterData += field+"="+data+"&";
                            }
                        });
                        if(filterData==""){
                            var url = serverUrl;
                        }else{
                            var url = serverUrl +'?'+filterData;
                        }
                        $('#config-table').bootstrapTable('refresh', {url: url});
                        modal.modal('hide');
                    } else {
                        MessageBox.error(data.msg);
                        return;
                    }
                },'json');
            }else{
                MessageBox.error('错误的入参，保存失败');
            }
        });
    });
</script>