<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">优惠券模板设置</h3>
    </div>
    <div class="panel-body">
        <form id="card_model_form" class="form-horizontal" method="post" action="/card/card_model_save">
            <div class="form-group">
                <label  class="col-sm-2 control-label">优惠券名称：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="card_remarks" value="<{$detail['card_remarks']}>" placeholder="如:开业大礼满100减50" datatype="*" nullmsg="请输入优惠券名称！">
                </div>
                <div class="Validform_checktip"></div>
            </div>

            <div class="form-group">
                <label  class="col-sm-2 control-label">券码前缀：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="card_pre" value="<{$detail['card_pre']}>" placeholder="如:SBG" datatype="*0-20" nullmsg="请输入券码前缀！">
                </div>
                <div class="Validform_checktip"></div>
            </div>

            <div class="form-group">
                <label  class="col-sm-2 control-label">券面值：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="card_money" value="<{$detail['card_money']}>" placeholder="如:10"  datatype="*0-10" nullmsg="请输入券码前缀！" ignore="ignore">
                </div>
                <div class="Validform_checktip"></div>
            </div>

            <div class="form-group">
                <label  class="col-sm-2 control-label">优惠券规则有效日期：</label>
                <div class="col-sm-3">
                    <input type="text" id="begin_time" class="form-control" name="begin_time" value="<{if $detail['begin_time'] neq ''}><{$detail['begin_time']}><{/if}>" placeholder="如:2017-02-22 12:10:00">
                </div>
                <div class="col-sm-3">
                    <input type="text" id="end_time" class="form-control" name="end_time" value="<{if $detail['end_time'] neq ''}><{$detail['end_time']}><{/if}>" placeholder="如:2017-02-22 12:10:00">
                </div>
                <div class="Validform_checktip"></div>
            </div>

            <div class="form-group" id="order_limit_type">
                <label  class="col-sm-2 control-label">订单限制：</label>
                    <label class="radio-inline">
                        <input type="radio" name="order_limit_type" id="order_limit_type_0" value="0" <{if $detail['order_limit_type'] eq 0}>checked="checked"<{/if}>> 无门槛
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="order_limit_type" id="order_limit_type_1" value="1" <{if $detail['order_limit_type'] eq 1}>checked="checked"<{/if}>> 满额
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="order_limit_type" id="order_limit_type_2" value="2" <{if $detail['order_limit_type'] eq 2}>checked="checked"<{/if}>> 满件
                    </label>
                <div class="Validform_checktip"></div>
            </div>

            <div class="form-group <{if $detail['order_limit_value'] eq 0}>hide<{/if}>" id="order_limit_value">
                <label  class="col-sm-2 control-label" id="order_limit_name">限制额度：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="order_limit_value" value="<{if $detail['order_limit_value'] neq ''}><{$detail['order_limit_value']}><{else}><{0}><{/if}>" placeholder="如:10"  datatype="n0-10" nullmsg="请输入限制额度！" ignore="ignore">
                </div>
                <div class="Validform_checktip"></div>
            </div>

            <div class="form-group">
                <label  class="col-sm-2 control-label">营销限制：</label>
                <label class="radio-inline">
                    <input type="radio" name="use_with_sales" id="use_with_sales_1" value="1" <{if $detail['use_with_sales'] neq 2}>checked="checked"<{/if}>> 无限制
                </label>
                <label class="radio-inline">
                    <input type="radio" name="use_with_sales" id="use_with_sales_2" value="2" <{if $detail['use_with_sales'] eq 2}>checked="checked"<{/if}>> 不与运营活动重复
                </label>
                <div class="Validform_checktip"></div>
            </div>

            <div class="form-group" id="product_limit_type">
                <label  class="col-sm-2 control-label">商品限制：</label>
                <label class="radio-inline">
                    <input type="radio" name="product_limit_type" id="product_limit_type_0" value="0" <{if $detail['product_limit_type'] eq 0}>checked="checked"<{/if}>> 无限制
                </label>
                <label class="radio-inline">
                    <input type="radio" name="product_limit_type" id="product_limit_type_1" value="1" <{if $detail['product_limit_type'] eq 1}>checked="checked"<{/if}>> 指定商品
                </label>
                <label class="radio-inline">
                    <input type="radio" name="product_limit_type" id="product_limit_type_2" value="2" <{if $detail['product_limit_type'] eq 2}>checked="checked"<{/if}>> 指定品类
                </label>
                <div class="Validform_checktip"></div>
            </div>

            <div class="form-group <{if $detail['product_limit_value'] eq 0}>hide<{/if}>" id="product_limit_value">
                <label  class="col-sm-2 control-label">商品限制规则：</label>
                <div class="col-sm-5 <{if $detail['product_limit_type'] eq 2}>hide<{/if}>" id="product_limit">
                    <input type="text" class="form-control" name="product_limit_value" value="<{if $detail['product_limit_type'] eq 1}><{$detail['product_limit_value']}><{/if}>" placeholder="如:1,2,4"  datatype="*" nullmsg="请输入商品限制规则！" ignore="ignore">
                </div>
                <div class="col-sm-8 <{if $detail['product_limit_type'] eq 1}>hide<{/if}>" id="class_limit">
                    <div class="class-box" style="min-height:50px;overflow-y:auto;max-height:100px;border-radius:5px;border:1px solid #aaa;padding:10px;">
                        <label style="margin-right:10px;font-weight: normal">
                            <input type="checkbox" name="click_all" onclick="get_class_list(this)"  value="0">全选
                        </label>
                        <{foreach key=key item=item from=$class_list}>
                        <label style="margin-right:10px;font-weight: normal">
                            <input type="checkbox" <{if $item['checked'] eq 1}>checked="true"<{/if}> name="class_id[]"  value="<{$item['id']}>"> <{$item['name']}>
                        </label>
                        <{/foreach}>
                    </div>
                </div>
                <div class="Validform_checktip"></div>
            </div>

            <div class="form-group">
                <label  class="col-sm-2 control-label">来源限制：</label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="source_limit[]" id="source_limit_1" value="alipay" <{if $checked_source['alipay']==1}>checked<{/if}>> alipay
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="source_limit[]" id="source_limit_2" value="fruitday" <{if $checked_source['fruitday']==1}>checked<{/if}>> fruitday
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="source_limit[]" id="source_limit_3" value="wechat" <{if $checked_source['wechat']==1}>checked<{/if}>> wechat
                </label>
                <div class="Validform_checktip"></div>
            </div>

            <div class="form-group" id="time_limit_type">
                <label  class="col-sm-2 control-label">使用时间：</label>
                <label class="radio-inline">
                    <input type="radio" name="time_limit_type" id="time_limit_type_1" value="1" <{if $detail['time_limit_type'] neq 2}>checked="checked"<{/if}>> 限定时间
                </label>
                <label class="radio-inline">
                    <input type="radio" name="time_limit_type" id="time_limit_type_2" value="2" <{if $detail['time_limit_type'] eq 2}>checked="checked"<{/if}>> 领取后n天
                </label>
                <div class="Validform_checktip"></div>
            </div>

            <div class="form-group <{if $detail['time_limit_type'] neq 2}>hide<{/if}>" id="card_last">
                <label  class="col-sm-2 control-label">优惠券持续时间：</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="card_last" value="<{$detail['card_last']}>" placeholder="如:2"  datatype="n" nullmsg="请输入天数！" ignore="ignore">
                </div>
                <div class="Validform_checktip">天</div>
            </div>

            <div class="form-group <{if $detail['time_limit_type'] eq 2}>hide<{/if}>" id="card_range">
                <label  class="col-sm-2 control-label">优惠券有效日期：</label>
                <div class="col-sm-3">
                    <input type="text" id="card_begin_date" class="form-control" name="card_begin_date" value="<{if $detail['card_begin_date'] neq ''}><{$detail['card_begin_date']}><{else}><{$today}><{/if}>" placeholder="如:2017-02-22" readonly>
                </div>
                <div class="col-sm-3">
                    <input type="text" id="card_end_date" class="form-control" name="card_end_date" value="<{if $detail['card_end_date'] neq ''}><{$detail['card_end_date']}><{else}><{$today}><{/if}>" placeholder="如:2017-02-22" readonly>
                </div>
                <div class="Validform_checktip"></div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="hidden" class="form-control" name="id" value="<{$detail['id']|default:0}>">
                    <input type="hidden" name="submit" value="1">
                    <input class="btn btn-primary ajaxpost" type="submit" value="提交">
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function get_class_list(obj){
        var flag = $(obj).prop('checked');
        $('.class-box').find('input[type="checkbox"]').prop('checked', flag)
    }

    $(function(){
        $("#card_model_form").Validform({//$(".demoform")指明是哪一表单需要验证,名称需加在form表单上;
            btnSubmit:".ajaxpost", //#btn_sub是该表单下要绑定点击提交表单事件的按钮;如果form内含有submit按钮该参数可省略;
            tiptype:4,
            showAllError:false,//可选项 true | false，true：提交表单时所有错误提示信息都会显示，false：一碰到验证不通过的就停止检测后面的元素，只显示该元素的错误信息;
            postonce:true, //可选项 表单是否只能提交一次，true开启，不填则默认关闭;
            ajaxPost:true, //使用ajax方式提交表单数据，默认false，提交地址就是action指定地址;
            callback:function(data){
                console.log(data);
                if(data.status=='y'){
                    MessageBox.success(data.msg);
                    setTimeout("window.location.href = '"+data.to_url+"'",1000);
                    return;
                }else{
                    MessageBox.success(data.msg);
                    return;
                }
                //返回数据data是json格式，{"info":"demo info","status":"y"}
                //info: 输出提示信息;
                //status: 返回提交数据的状态,是否提交成功。如可以用"y"表示提交成功，"n"表示提交失败，在ajax_post.php文件返回数据里自定字符，主要用在callback函数里根据该值执行相应的回调操作;
                //你也可以在ajax_post.php文件返回更多信息在这里获取，进行相应操作；
                //ajax遇到服务端错误时也会执行回调，这时的data是{ status:**, statusText:**, readyState:**, responseText:** }；

                //这里执行回调操作;
                //注意：如果不是ajax方式提交表单，传入callback，这时data参数是当前表单对象，回调函数会在表单验证全部通过后执行，然后判断是否提交表单，如果callback里明确return false，则表单不会提交，如果return true或没有return，则会提交表单。
            }
        });

        $('#card_begin_date').datetimepicker({
            minView: "month",
            language: 'zh', //汉化
            autoclose: 1,
            format:'yyyy-mm-dd',      //格式化日期
            timepicker:false    //关闭时间选项
        });
        $('#card_end_date').datetimepicker({
            minView: "month",
            language: 'zh', //汉化
            autoclose: 1,
            format: 'yyyy-mm-dd',
            timepicker:false    //关闭时间选项
        });

        $('#begin_time').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            format:'yyyy-mm-dd hh:ii:00',      //格式化日期
            timepicker:false    //关闭时间选项
        });

        $('#end_time').datetimepicker({
            language: 'zh', //汉化
            autoclose: 1,
            format:'yyyy-mm-dd hh:ii:00',      //格式化日期
            timepicker:false    //关闭时间选项
        });

        $("#order_limit_type input").click(function(){
            var check_val = $(this).val();
            if(check_val!=0){
                if(check_val==1){
                    $("#order_limit_name").html('限制额度：');
                }else{
                    $("#order_limit_name").html('限制件数：');
                }
                $("#order_limit_value").removeClass('hide');
            }else{
                $("#order_limit_value").addClass('hide');
                $("#order_limit_value input").val('0');
            }
        })

        $("#product_limit_type input").click(function(){
           var check_val = $(this).val();
           if(check_val!=0){
               if(check_val==1){
                   $("#product_limit").removeClass('hide');
                   $("#class_limit").addClass('hide');
               }else{
                   $("#class_limit").removeClass('hide');
                   $("#product_limit").addClass('hide');
               }

               $("#product_limit_value").removeClass('hide');
           }else{
               $("#product_limit_value").addClass('hide');
               $("#product_limit_value input").val('0');
           }
        });

        $("#time_limit_type input").click(function(){
           var check_val = $(this).val();
           if(check_val==1){
               $("#card_range").removeClass('hide');
               $("#card_last").addClass('hide');
//               $("#card_last input").val('');
           }else{
               $("#card_range").addClass('hide');
//               $("#card_range input").val('');
               $("#card_last").removeClass('hide');
           }
       });
    });
</script>