<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">添加优惠券</h3>
    </div>
    <div class="panel-body">
        <form id="card_model_form" class="form-horizontal" method="post" action="/card/card_save">
            <div class="form-group">
                <label  class="col-sm-2 control-label">优惠券模板tag：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="tag" value="" placeholder="如:Le5kk3" datatype="*" nullmsg="请输入优惠券模板tag！">
                </div>
                <div class="Validform_checktip"></div>
            </div>

            <div class="form-group">
                <label  class="col-sm-2 control-label">用户uid：</label>
                <div class="col-sm-5">
                    <textarea placeholder="请输入需要发券的uid，多个以,隔开。如：1,2,3" datatype="*" nullmsg="请输入uid！" altercss="gray" name="uids" value="" class="form-control" rows="3"></textarea>
                </div>
                <div class="Validform_checktip"></div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="hidden" name="submit" value="1">
                    <input class="btn btn-primary ajaxpost" type="submit" value="提交">
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(function(){
        $("#card_model_form").Validform({//$(".demoform")指明是哪一表单需要验证,名称需加在form表单上;
            btnSubmit:".ajaxpost", //#btn_sub是该表单下要绑定点击提交表单事件的按钮;如果form内含有submit按钮该参数可省略;
            tiptype:4,
            showAllError:false,//可选项 true | false，true：提交表单时所有错误提示信息都会显示，false：一碰到验证不通过的就停止检测后面的元素，只显示该元素的错误信息;
            postonce:true, //可选项 表单是否只能提交一次，true开启，不填则默认关闭;
            ajaxPost:true, //使用ajax方式提交表单数据，默认false，提交地址就是action指定地址;
            callback:function(data){
                console.log(data);
                if(data.status=='y'){
                    MessageBox.success(data.msg);
                    setTimeout("window.location.href = '"+data.to_url+"'",1000);
                    return;
                }else{
                    MessageBox.success(data.msg);
                    return;
                }
                //返回数据data是json格式，{"info":"demo info","status":"y"}
                //info: 输出提示信息;
                //status: 返回提交数据的状态,是否提交成功。如可以用"y"表示提交成功，"n"表示提交失败，在ajax_post.php文件返回数据里自定字符，主要用在callback函数里根据该值执行相应的回调操作;
                //你也可以在ajax_post.php文件返回更多信息在这里获取，进行相应操作；
                //ajax遇到服务端错误时也会执行回调，这时的data是{ status:**, statusText:**, readyState:**, responseText:** }；

                //这里执行回调操作;
                //注意：如果不是ajax方式提交表单，传入callback，这时data参数是当前表单对象，回调函数会在表单验证全部通过后执行，然后判断是否提交表单，如果callback里明确return false，则表单不会提交，如果return true或没有return，则会提交表单。
            }
        });
    });
</script>